<title>baby慕慕SNS个人博客-创建群组</title>
<link rel="stylesheet" href="${request.getContextPath()}/plugins/layui/css/layui.css" media="all">
<link rel="stylesheet" href="${request.getContextPath()}/plugins/font-awesome/css/font-awesome.min.css" media="all">
<link rel="stylesheet" href="${request.getContextPath()}/resources/profile/css/group/group.css" media="all">
#parse("/portal/header.vm")
<div class="layout-body">
    #parse("/profile/group/left.vm")
    <div class="layout-right">
        <div class="group-body">
            <h2 style="font-size: 30px;font-weight: 400px;color: green;border-radius: 10%">创建群组</h2>
            <hr>
            <div class="uploadform">
                <form class="layui-form" style="width: 100%;float: left;">
                    <div class="layui-form-item" style="width: 90%;float: left;">
                        <label class="layui-form-label" style="float: left;width: 60px;text-align: left">群组名称</label>
                        <div class="layui-input-inline photo-title" style="width: 500px !important;">
                            <input type="text" name="title" lay-verify="title" autocomplete="off" placeholder="请输入群组名称" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item" style="width: 100px;float: left;">
                        <div class="layui-input-inline photo-title">
                            <input type="button" class="layui-btn" id="groupIconUpload" name="title" lay-verify="title" autocomplete="off" value="群组ICON" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item" style="width: 100%;float: left;display: none">
                        <img src="https://gw.alicdn.com/bao/uploaded/i1/180558071/TB2sy6jXMQc61BjSZFGXXa1DFXa_!!180558071.jpg_400x400q90.jpg?t=1513063905068" width="400" height="200">
                    </div>
                    <div class="layui-form-item" style="width:600px;float: left;">
                        <textarea id="groupTextarea" style="display: none;float: left;width: 90%;"></textarea>
                    </div>
                    <div class="layui-form-item" style="width: 90%;float: left;">
                        <label class="layui-form-label" style="float: left;width: 60px;text-align: left">标签</label>
                        <div class="layui-input-inline photo-title"  style="float: left;width: 500px;">
                            <input type="text" name="title" lay-verify="title" autocomplete="off" placeholder="请输入关键词，多个以空格分隔" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item"  style="width:100%;float: left;">
                        <label class="layui-form-label" style="float: left;width: 60px;text-align: left">加群审核</label>
                        <div class="layui-input-block">
                            <input type="radio" name="sex" value="不需审核" title="不需审核" checked>
                            <input type="radio" name="sex" value="群主审核" title="群主审核">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn" lay-submit="" lay-filter="demo1">立即创建</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="group-page" id="groupPage"></div>
    </div>
</div>
#parse("/portal/sfooter.vm")
<script type="text/javascript" src="${request.getContextPath()}/plugins/layui/layui.js" charset="utf-8"></script>
<script type="text/javascript" src="${request.getContextPath()}/plugins/jquery/jquery-3.1.0.min.js" charset="utf-8"></script>
<script type="text/javascript" src="${request.getContextPath()}/resources/common/js/common.js" charset="utf-8"></script>
<script type="text/javascript">
    layui.use(['element','upload','layedit'], function () {
        var element = layui.element,upload=layui.upload,layedit=layui.layedit;
        //设置文本编辑器
        layedit.build('groupTextarea',{
            height:150,
            width:200,
            tool: ['strong','italic' ,'underline','del','|','left','center','right']
        });
        //群组icon图片上传
        upload.render({
            elem: '#groupIconUpload'
            ,url: '/common/upload/layedit'
            ,multiple: true
            ,before: function(obj){
                obj.preview(function(index, file, result){
                    $('#photoUploadList').append('<img src="'+ result +'" alt="'+ file.name +'" class="layui-upload-img">')
                });
            }
            ,done: function(res){
                console.log(res);
            }
        });
    });
</script>