<title>baby慕慕SNS个人博客-我的群组</title>
<link rel="stylesheet" href="${request.getContextPath()}/plugins/layui/css/layui.css" media="all">
<link rel="stylesheet" href="${request.getContextPath()}/plugins/font-awesome/css/font-awesome.min.css" media="all">
<link rel="stylesheet" href="${request.getContextPath()}/resources/profile/css/group/group.css" media="all">
#parse("/portal/header.vm")
<div class="layout-body">
    #parse("/profile/group/left.vm")
    <div class="layout-right">
        <div class="group-body">
            <h2 style="font-size: 30px;font-weight: 400px;color: green;border-radius: 10%">我的群组</h2>
            <hr>
            <ul>
                #set($groups=[0 .. 4])
                #foreach($group in $groups)
                    <li>
                        <div class="groupcontent">
                            <span class="grouptitle">大数据讨论群组</span>
                            <span class="groupediter">成员 20 ·帖子 120 ·赞 0 ·收藏 0 ·(<a href="">编辑</a> | <a href="">删除</a>)</span>
                            <span class="grouppublish">2017/06/19 创建</span>
                        </div>
                        <div class="grouplogo">
                            <a href="/profile/$individuation/home"><img src="https://gw.alicdn.com/bao/uploaded/i4/69476562/TB2htq4XTka61BjSszfXXXN8pXa_!!69476562.jpg_400x400q90.jpg?t=1513063905068" width="100" height="100"></a>
                        </div>
                        <hr>
                    </li>
                #end
            </ul>
        </div>
        <div class="group-page" id="groupPage"></div>
    </div>
</div>
#parse("/portal/sfooter.vm")
<script type="text/javascript" src="${request.getContextPath()}/plugins/layui/layui.js" charset="utf-8"></script>
<script type="text/javascript" src="${request.getContextPath()}/plugins/jquery/jquery-3.1.0.min.js" charset="utf-8"></script>
<script type="text/javascript" src="${request.getContextPath()}/resources/common/js/common.js" charset="utf-8"></script>
<script type="text/javascript">
    layui.use(['element','laypage'], function () {
        var element = layui.element,laypage=layui.laypage;
        laypage.render({
            elem: 'groupPage'
            ,count: 120
            ,jump: function(obj){
                console.log(obj)
            }
        });
    });
</script>