.user-body{
    width: 100%;
    float: left;
    min-width: 1100px;
    margin: 0px;
    padding: 0px;
    border-top: none;
    border-bottom: none;
    background-clip: padding-box;
/*    background-color:#E4E1DC;*/
    margin-bottom: 50px;
}
.user-body .content{
    float: left;
    width: 50%;
    min-width: 540px;
    height: 440px;
}
.user-body .content .layout-content{
    float: left;
    width: 95%;
    height: 95%;
    margin-left: 2%;
    margin-top: 2%;
    background-color:#fffbfd;
    min-width: 550px;
}
.user-body .content .layout-content .contenttitle{
    float:left;
    width: 98%
}
.user-body .content .layout-content .contenttitle h2{
    width: 200px;
    float: left;
    font-size: 24px;
    font-weight: 400;
    color: green;
    border-radius: 10%
}
.user-body .content .layout-content .contenttitle span{
    float: right;
    width: 60px;
    margin-top: 6px;
}
.user-body .content .layout-content .maincontent{
    float: left;
    width: 100%;
    height: 95%;
    margin-top: 2%;
    height: 385px;
}
.user-body .content .layout-content .maincontent ul li{
    float: left;
    width: 45%;
    margin-bottom: 30px;
    margin-left: 30px;
}
.user-body .content .layout-content .maincontent ul li .contentbody{
    float: left;
    width: 98%;
    border: 1px solid silver;
    border-radius: 1%;height: 160px;
}
.user-body .content .layout-content .maincontent ul li .contentbody .logo{
    width: 40%;
    float: left;
}
.user-body .content .layout-content .maincontent ul li .contentbody .contentinfo{
    width: 58%;
    float: left;
}
.user-body .content .layout-content .maincontent ul li .contentbody .contentinfo .title{
    width: 100%;
    float: left;
    font-size: 16px;
    color: #111111;
    line-height: 1.5;
    word-break: break-all;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.user-body .content .layout-content .maincontent ul li .contentbody .contentinfo .body{
    width: 100%;
    float: left;
    font-size: 14px;
    color: #111111;
    line-height: 1.5;
    word-break: break-all;
    display: block;
    height: 80px;
    overflow: hidden;
    margin-top: 6px;
    text-overflow: ellipsis;
    overflow: hidden;
}
.user-body .content .layout-content .maincontent ul li .contentbody .media{
    width: 100%;
    float: left;
    font-size: 12px;
    color: #9d9d9d;
    margin-top: 10px
}
.user-body .content .layout-content .maincontent ul li .contentbody .media span{
    margin-right: 10px
}
.user-body .content .layout-content .maincontent ul li .contentbody .phototitle{
    width: 100%;
    float: left
}
.user-body .content .layout-content .maincontent ul li .contentbody .phototitle{
    width: 100%;
    float: left
}
.user-body .content .layout-content .maincontent ul li .contentbody .phototitle span{
     width: 100%;
    float: left;
    font-size: 16px;
    color: #111111;
    line-height: 1.5;
    word-break: break-all;
    display: block;
    text-align: center;
}
.user-body .content .layout-content .maincontent ul li .contentbody .photoimg{
    width: 100%;
    float: left;
    height: 100px;
    margin-top: 6px;
}
.user-body .content .layout-content .maincontent ul li .contentbody .photoimg img{
    width: 30%;
    height: 100px
}