<title>文章详情-我的文章-MMSNS博客系统</title>
<link rel="stylesheet" href="${request.getContextPath()}/plugins/layui/css/layui.css" media="all">
<link rel="stylesheet" href="${request.getContextPath()}/plugins/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="${request.getContextPath()}/resources/portal/css/article/detail.css" media="all">
#parse("/portal/header.vm")
<div class="article-content">
    <div class="article-body">
        <div class="detail-breadcrumb">
            <span class="layui-breadcrumb">
              <a href="/article">我的文章</a>
              <a href="/article/detail/$!article.articleId">文章详情</a>
            </span>
        </div>
        <div class="article-title">
            <div>
                <h2><span style="border-color: #51BAE3;color: #51BAE3;border: 2px solid #51BAE3;border-radius: 50%;width: 25px;height: 25px;vertical-align: text-bottom;text-align: center;font-size: 16px;line-height: 26px;display: inline-block;margin-right: 5px;margin-top: 4px">原</span>$!article.articleTitle</h2>
            </div>
            <div class="article-author">
                <span><a href="/profile/$!article.individuation/home" style="color: #46B;">$!article.userName</a></span>
                <span>发表于 $!date.format('yyyy-MM-dd',$!article.articleDate)</span>
                <span>阅读 $!article.readCount</span>
                <span>收藏 $!article.collectCount</span>
                <span>点赞 $!article.voteCount</span>
                <span>转发 $!article.relayCount</span>
                <span>评论<a href="#comment" style="color: #46B;"> <span id="articleCommentAuthorSpan" style="float: right;"> $!article.commentCount</span></a></span>
            </div>
        </div>
        <div class="article-message">
            <div class="article-abstract">
                摘要: $!article.articleSumary
            </div>
            <div class="article-maincontent">
                $!article.articleContent
            </div>
        </div>
        <div class="article-extra">
            <div class="article-license"><span style="color: #999;">© 著作权归作者所有</span></div>
            <div  class="article-classify"><span style="">分类：<a href="/profile/babymumu/article/$!article.userCategoryId">$!article.categoryName</a>  字数：$!article.wordCount</span></div>
            <div class="article-labels">
                <span>标签：
                #foreach($articleLabel in $!article.articleLabels.split(" "))
                    <a href="/article/detail/1">$articleLabel</a>
                #end
                </span>
            </div>
        </div>
        <div class="article-buttons">
            <ul>
                <li><a id="articleVoteButton" href="javascript:void(0)"><i class="icon-svg icon-reward-blog"></i><span>点赞</span></a></li>
                <li><a id="articleCollectButton" href="javascript:void(0)"><i class="icon-svg icon-reward-blog"></i><span>收藏</span></a></li>
                <li><a id="articleShareButton" href="javascript:void(0)"><i class="icon-svg icon-reward-blog"></i><span>分享</span></a></li>
                <li><a id="articleTipButton" href="javascript:void(0)"><i class="icon-svg icon-reward-blog"></i><span>打赏</span></a></li>
                <li><a id="articleReportButton" href="javascript:void(0)"><i class="icon-svg icon-reward-blog"></i><span>举报</span></a></li>
            </ul>
        </div>
        <div class="article-users">
            <div class="article-usermessage">
                <div class="user-image">
                    <a href="/profile/$!article.individuation/home">
                        #if($!article.avator)
                            <img src="$!article.avator" width="80" height="80" style="border-radius: 50%">
                        #else
                            <img src="/resources/portal/images/logo.jpg" width="80" height="80" style="border-radius: 50%">
                        #end
                    </a>
                </div>
                <div class="user-message">
                    <span class="user-name"><a href="/profile/$!article.individuation/home">$!article.userName</a></span>
                    <span class="user-name">$!article.company  $!article.positional</span>
                    <span class="user-name">粉丝 <a href="/profile/$!article.individuation/home">$!article.userFansCount</a> 博文 <a href="/profile/$!article.individuation/article">$!articleCount</a> 码字总数 <a href="/profile/$!article.individuation/article">$!articleWordCount</a></span>
                </div>
            </div>
        </div>
        <div class="article-comment">
            <div class="comment-body">
                <div><a name="comment"><h2>评论 <span id="articleCommentSpan">$!article.commentCount</span></h2></a></div>
                <div class="comment-textarea">
                    <textarea id="articleMessage"></textarea>
                    <button id="publishArticleComment">发表评论</button>
                </div>
                <div class="comment-list">
                    <ul class="flow-default" id="articleDetailFlowUL"></ul>
                </div>
            </div>
        </div>
    </div>
    <div class="article-category">
        <div class="category-article">
            <h2>相关文章</h2><hr>
            <ul>
                #foreach($relationArticle in $relationArticles)
                    <li>
                        <span class="articletitle"><a href="/article/detail/$!relationArticle.articleId">$!relationArticle.articleTitle</a></span>
                        #*<span class="articleinfo">阅读 $!relationArticle.readCount 点赞 $!relationArticle.voteCount 收藏 $!relationArticle.collectCount 转发 $!relationArticle.relayCount 评论 $!relationArticle.commentCount</span>*#
                    </li>
                #end
            </ul>
        </div>
        <div class="category-article">
            <h2>热门文章</h2><hr>
            <ul>
                #foreach($hotArticle in $hotArticles)
                    <li>
                        <span class="articletitle"><a href="/article/detail/$!hotArticle.articleId">$!hotArticle.articleTitle</a></span>
                        #*<span class="articleinfo">阅读 $!hotArticle.readCount</span>*#
                    </li>
                #end
            </ul>
        </div>
        <div class="category-article">
            <h2>最新文章</h2><hr>
            <ul>
                #foreach($newsArticle in $newsArticles)
                    <li>
                        <span class="articletitle"><a href="/article/detail/$!newsArticle.articleId">$!newsArticle.articleTitle</a></span>
                        #*<span class="articleinfo">创建:$date.format('yyyy-MM-dd',$!newsArticle.articleDate)</span>*#
                    </li>
                #end
            </ul>
        </div>
    </div>
</div>
#parse("/portal/footer.vm")
<script type="text/javascript" src="${request.getContextPath()}/plugins/layui/layui.js" charset="utf-8"></script>
<script type="text/javascript" src="${request.getContextPath()}/plugins/jquery/jquery-3.1.0.min.js"  charset="utf-8"></script>
<script type="text/javascript">
    layui.use(['element', 'layedit','flow','layer'], function () {
        var element = layui.element,layedit = layui.layedit, flow = layui.flow;
        layedit.set({
            uploadImage: {url: '/common/upload/layedit', type: 'post'}
        });
        var articleMessageIndex=layedit.build('articleMessage',{
            height:200
        });
        var commentCount=$("#articleCommentSpan").text(),limit=5;
        var floor=1,articleId='$!article.articleId';
        if(commentCount>0){
            var commentPage=commentCount>limit?(commentCount%limit==0?commentCount/limit:commentCount/limit+1):1;
            flow.load({
                elem: '#articleDetailFlowUL'
                ,isAuto:true
                ,isLazyimg:true
                ,done: function(page, next){
                    $.get("/article/comment/data",{articleId:articleId,page:page,limit:limit},function (respData) {
                        if(respData.code==200){
                            var lis = [];
                            for(var i = 0; i < respData.data.length; i++){
                                lis.push(li( respData.data[i],floor++));
                            }
                            next(lis.join(''), page < commentPage);
                        }else{
                            layer.msg("文章评论数据加载失败!",{icon:2});
                        }
                    });
                }
            });
        }
        $(function () {
            //文章发布
            $("#publishArticleComment").click(function () {
                commentContent=layedit.getContent(articleMessageIndex);
                if(commentContent==null||commentContent==''||commentContent=='<p><br></p>'){
                    layer.msg("请输入评论内容！");
                    return false;
                }
                $.post("/article/comment/publish",{articleId:articleId,commentContent:commentContent},function (respData) {
                    if(respData.code==200){
                        prependLi(respData.data);

                    }else if(respData.code==444){
                        layer.msg(respData.data,{icon:5,time:2000},function () {
                            window.location.href="/login";
                        });
                    }else{
                        layer.alert(respData.data,{icon:2});
                    }
                });
            });
            //文章点赞
            $("#articleVoteButton").click(function () {
                $.post("/article/vote",{articleId:articleId},function (respData) {
                    if(respData.code==200){
                        layer.msg(respData.data);
                    }else if(respData.code==444){
                        layer.msg(respData.data,{icon:5,time:2000},function () {
                            window.location.href="/login";
                        });
                    }else{
                        layer.alert(respData.data,{icon:5});
                    }
                });
            });
            //文章收藏
            $("#articleCollectButton").click(function () {
                $.post("/article/collect",{articleId:articleId},function (respData) {
                    if(respData.code==200){
                        layer.msg(respData.data);
                    }else if(respData.code==444){
                        layer.msg(respData.data,{icon:5,time:2000},function () {
                            window.location.href="/login";
                        });
                    }else{
                        layer.alert(respData.data,{icon:5});
                    }
                });
            });
            //打赏
            $("#articleTipButton").click(function () {
                layer.open({
                    type: 1,
                    closeBtn:true,
                    shadeClose:true,
                    scrollbar:true,
                    title: false,
                    closeBtn: 1,
                    area: ['660px', '400px'],
                    skin: 'layui-layer-nobg',
                    shadeClose: false,
                    content:'<div style="width: 100%;height: 100%;margin: 0px;padding: 0px;float: left;">' +
                    '<div style="float: left;"><img src="/resources/portal/img/alipay.jpg" width="330" height="400"></div>' +
                    '<div style="float: left;"><img src="/resources/portal/img/wexin.jpg" width="330" height="400"></div>' +
                    '</div>'
                });
            });
            $("#articleShareButton").click(function () {
                 layer.msg("功能未实现！");
            });
            $("#articleReportButton").click(function () {
                layer.msg("功能未实现！");
            });
        });
    });
    //向评论列表添加评论或者回复
    function prependLi(data) {
        $("#articleDetailFlowUL").prepend(li(data,0));
        commentCount=parseInt($("#articleCommentSpan").text());
        $("#articleCommentSpan").text(commentCount+1);
        $("#articleCommentAuthorSpan").text(commentCount+1);
    }
    function li(articleComment,floor) {
        //用户头像
        var userAvator=articleComment.avator?articleComment.avator:'/resources/portal/images/logo.jpg';
        var commentContent=articleComment.commentContent;
        var replyCommentContent='';
        //回复 评论
        if(articleComment.commentType=='reply'){
            commentContent="回复 "+articleComment.replyUserName+" : "+commentContent;
            replyCommentContent=articleComment.replyCommentContent;
        }
        var li='<li id="li-'+articleComment.commentId+'">' +
                '<div class="comment-image"><a href="/profile/'+articleComment.individuation+'/home"><img src="'+userAvator+'" width="40" height="40" style="border-radius: 50%"> </a></div>'+
                '<div class="comment-profile"><span><a href="/profile/'+articleComment.individuation+'/home">'+articleComment.userName+'</a></span><span>'+floor+'楼 '+articleComment.commentDate+'</span> </div> ' +
                '<div class="comment-reply"><a onclick="articleCommentReplyButton(\''+articleComment.commentId+'\',\''+articleComment.userName+'\')" href="javascript:void(0)">回复</a></div>' +
                '<div class="comment-commentcontent"><span>'+commentContent+'</span></div> ' +
                '<div class="comment-replycontent"><span>'+replyCommentContent+'</span></div> ' +
                '</li>';
        return li;
    }
    //评论回复
    function articleCommentReplyButton(commentId,userName) {
        //$("#li-"+commentId).append('<div class="comment-replytextarea"><textarea id="articleMessage"></textarea><button id="publishArticleCommentReply">回复评论</button> </div>');
        layer.open({
            type: 2,
            closeBtn:true,
            shadeClose:true,
            scrollbar:true,
            title: false,
            closeBtn: 1,
            area: ['650px', '420px'],
            skin: 'layui-layer-nobg',
            shadeClose: false,
            content:['/article/comment/reply?commentId='+commentId+"&userName="+userName, 'no']
            /*content: '<div style="width: 100%;height:100%;float: left;background-color: white;">' +
            '<div style="width: 410px;height: 240px;margin: 20px">' +
            '<span style=" width: 100%;float: left;color: #6a6a6a;"><strong>回复:'+userName+'</strong></span>' +
            '<span style=" width: 100%;float: left;margin-top: 10px;"><strong>回复内容</strong></span><textarea style="width: 90%;height: 160px;"></textarea><span style="width: 100%;float: left;margin-top: 15px;margin-bottom: 20px"><a style="width: 60px;font-size: 14px;line-height: 1.6;padding: 3px 8px !important;cursor: pointer;color: #fff;border: 1px solid transparent;border-radius: 2px;outline: none;background: #4eaa4c;" href="javascript:void(0)" onclick="articleCommentReply()">发送</a></span>' +
            '</div></div>'*/
        });
    }
</script>