<title>baby慕慕SNS个人博客管理系统-文章详情</title>
<link rel="stylesheet" href="${request.getContextPath()}/plugins/layui/css/layui.css" media="all">
<link rel="stylesheet" href="${request.getContextPath()}/plugins/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="${request.getContextPath()}/resources/portal/css/article/detail.css" media="all">
#parse("/portal/header.vm")
<div class="article-content">
    <div class="article-body">
        <div class="detail-breadcrumb">
            <span class="layui-breadcrumb">
              <a href="/article" style="">我的文章</a>
              <a href="/article/detail/$articleId">文章详情</a>
            </span>
        </div>
        <div class="article-title">
            <div>
                <h2><span style="border-color: #51BAE3;color: #51BAE3;border: 2px solid #51BAE3;border-radius: 50%;width: 25px;height: 25px;vertical-align: text-bottom;text-align: center;font-size: 16px;line-height: 26px;display: inline-block;margin-right: 5px;margin-top: 4px">原</span>$!article.articleTitle</h2>
            </div>
            <div class="article-author">
                <span><a href="/article/detail/1" style="color: #46B;">龙马行空</a></span>
                <span>发表于 $!date.format('yyyy-MM-dd',$!article.articleDate)</span>
                <span>阅读 $!article.readCount</span>
                <span>收藏 $!article.collectCount</span>
                <span>点赞 $!article.voteCount</span>
                <span>转发 $!article.relayCount</span>
                <span>评论<a href="/article/detail/$articleId" style="color: #46B;"> $!article.commentCount</a></span>
            </div>
        </div>
        <div class="article-message">
            <div class="article-abstract">
                摘要: $!article.articleSumary
            </div>
            <div class="article-maincontent">
                $!article.articleContent
            </div>
        </div>
        <div class="article-extra">
            <div class="article-license"><span style="color: #999;">© 著作权归作者所有</span></div>
            <div  class="article-classify"><span style="">分类：<a href="/article/detail/1">系列-VUE</a>  字数：$!article.wordCount</span></div>
            <div class="article-labels">
                <span>标签：
                #foreach($articleLabel in $!article.articleLabels.split(" "))
                    <a href="/article/detail/1">$articleLabel</a>
                #end
                </span>
            </div>
        </div>
        <div class="article-buttons">
            <ul>
                <li><a href="/article/detail/1"><i class="icon-svg icon-reward-blog"></i><span>点赞</span></a></li>
                <li><a href="/article/detail/1"><i class="icon-svg icon-reward-blog"></i><span>收藏</span></a></li>
                <li><a href="/article/detail/1"><i class="icon-svg icon-reward-blog"></i><span>分享</span></a></li>
                <li><a href="/article/detail/1"><i class="icon-svg icon-reward-blog"></i><span>打赏</span></a></li>
                <li><a href="/article/detail/1"><i class="icon-svg icon-reward-blog"></i><span>举报</span></a></li>
            </ul>
        </div>
        <div class="article-users">
            <div class="article-usermessage">
                <div class="user-image">
                    <a href="/article/detail/1"><img style="width: 80px;height: 80px;vertical-align: baseline;border-radius: 50%" src="https://static.oschina.net/uploads/user/708/1416844_100.jpg?t=1421506700000"></a>
                </div>
                <div class="user-message">
                    <span class="user-name"><a href="">龙马行空</a></span>
                    <span class="user-name">前端工程师  房山</span>
                    <span class="user-name">粉丝 <a href="">375</a> 博文 <a href="">127</a> 码字总数 <a href="">10255</a></span>
                </div>
            </div>
        </div>
        <div class="article-comment">
            <div class="comment-body">
                <div><h2>评论 4</h2></div>
                <div class="comment-textarea">
                    <textarea id="articleMessage"></textarea>
                    <button>发表评论</button>
                </div>
                <div class="comment-list">
                    <ul>
                        #set($comments=[0 .. 4])
                        #foreach($comment in $comments)
                            <li>
                                <div class="comment-image">
                                    <a href="/article/detail/1">
                                        <img src="https://static.oschina.net/uploads/user/106/212080_50.jpg?t=1395912810000" width="40" height="40">
                                    </a>
                                </div>
                                <div class="comment-profile">
                                    <span><a href="/article/detail/1">陈阳阳阳</a></span>
                                    <span>1楼 2017/12/08 15:28</span>
                                </div>
                                <div class="comment-reply"><a href="/article/detail/1">回复</a></div>
                                <hr>
                            </li>
                        #end
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="article-category">
        <div class="category-aboutarticle">
            <h2>相关文章</h2><hr>
            <ul>
                #set($aboutarticles=[0 .. 4])
                #foreach($aboutarticle in $aboutarticles)
                    <li><a>深入区分javascript中的作用域和执行环境</a></li>
                #end
            </ul>
        </div>
        <div class="category-hotarticle">
            <h2>热门文章</h2><hr>
            <ul>
                #set($aboutarticles=[0 .. 4])
                #foreach($aboutarticle in $aboutarticles)
                    <li><a>深入区分javascript中的作用域和执行环境</a></li>
                #end
            </ul>
        </div>
        <div class="category-newarticle">
            <h2>最新文章</h2><hr>
            <ul>
                #set($aboutarticles=[0 .. 4])
                #foreach($aboutarticle in $aboutarticles)
                    <li><a>深入区分javascript中的作用域和执行环境</a></li>
                #end
            </ul>
        </div>
    </div>
</div>
#parse("/portal/footer.vm")
<script type="text/javascript" src="${request.getContextPath()}/plugins/layui/layui.js" charset="utf-8"></script>
<script type="text/javascript" src="${request.getContextPath()}/plugins/jquery/jquery-3.1.0.min.js"  charset="utf-8"></script>
<script type="text/javascript">
    layui.use(['element', 'carousel', 'code', 'layedit'], function () {
        var element = layui.element, carousel = layui.carousel, layedit = layui.layedit;
        layedit.build('articleMessage',{
            tool:[],
            height:100
        });
    });
</script>