<title>baby慕慕SNS个人博客管理系统-文章详情</title>
<link rel="stylesheet" href="${request.getContextPath()}/plugins/layui/css/layui.css" media="all">
<link rel="stylesheet" href="${request.getContextPath()}/plugins/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="${request.getContextPath()}/resources/portal/css/article/detail.css" media="all">
#parse("/portal/header.vm")
<div class="article-content">
    <div class="article-body">
        <div class="detail-breadcrumb">
            <span class="layui-breadcrumb">
              <a href="/article" style="">我的文章</a>
              <a href="/article/detail/1">文章详情</a>
            </span>
        </div>
        <div class="article-title">
            <div>
                <span class="articletype" style="border-color: #51BAE3;color: #51BAE3;border: 2px solid #51BAE3;border-radius: 50%;width: 25px;height: 25px;vertical-align: text-bottom;text-align: center;font-size: 16px;line-height: 26px;float: left;display: inline-block;margin-right: 5px;margin-top: 4px">赞</span>
                <h2>深入区分javascript中的作用域和执行环境</h2>
            </div>
            <div class="article-author">
                <span><a href="/article/detail/1" style="color: #46B;">龙马行空</a></span>
                <span>发表于 2017-12-25</span>
                <span>阅读 359</span>
                <span>收藏 35</span>
                <span>点赞 0</span>
                <span>转发 0</span>
                <span>评论<a href="/article/detail/1" style="color: #46B;"> 3</a></span>
            </div>
        </div>
        <div class="article-message">
            <div class="article-abstract">
                摘要: zbus.NET网络通讯模块（二），以实现MySQL服务器透明代理讲述zbus.NET网络通讯模块的小巧与精干的编程能力。
            </div>
            <div class="article-maincontent">
                <section class="content">
                    <p>首先要明确，作用域和执行环境是两个完全不同的概念，我们试图给他俩分别一个明确的定义，发现很难，因为你很难定义一个概念“是什么”，但是我们可以搞清楚他们分别起什么作用。
                        另一个令人迷惑的地方就是js中的this关键字。其实执行环境就是this的值。总的来说，作用域是相对于函数来讲的，因为js里没有块级作用域，只有函数才能形成新的作用域。
                        而且作用域在函数声明时就定义好了。作用域里声明的变量和函数，外部无法访问，注意，是外部。而执行环境在函数被调用时才生成。</p>
                </section>
            </div>
        </div>
        <div class="article-extra">
            <div class="article-license"><span style="color: #999;">© 著作权归作者所有</span></div>
            <div  class="article-classify"><span style="">分类：<a href="/article/detail/1">系列-VUE</a>  字数：1120</span></div>
            <div class="article-labels"><span>标签： <a href="/article/detail/1">vue</a> <a href="/article/detail/1">axios</a></span></div>
        </div>
        <div class="article-buttons">
            <ul>
                <li><a href="/article/detail/1"><i class="icon-svg icon-reward-blog"></i><span>点赞</span></a></li>
                <li><a href="/article/detail/1"><i class="icon-svg icon-reward-blog"></i><span>收藏</span></a></li>
                <li><a href="/article/detail/1"><i class="icon-svg icon-reward-blog"></i><span>分享</span></a></li>
                <li><a href="/article/detail/1"><i class="icon-svg icon-reward-blog"></i><span>打赏</span></a></li>
                <li><a href="/article/detail/1"><i class="icon-svg icon-reward-blog"></i><span>举报</span></a></li>
            </ul>
        </div>
        <div class="article-users">
            <div class="article-usermessage">
                <div class="user-image">
                    <a href="/article/detail/1"><img style="width: 80px;height: 80px;vertical-align: baseline;border-radius: 50%" src="https://static.oschina.net/uploads/user/708/1416844_100.jpg?t=1421506700000"></a>
                </div>
                <div class="user-message">
                    <span class="user-name"><a href="">龙马行空</a></span>
                    <span class="user-name">前端工程师  房山</span>
                    <span class="user-name">粉丝 <a href="">375</a> 博文 <a href="">127</a> 码字总数 <a href="">10255</a></span>
                </div>
            </div>
        </div>
        <div class="article-comment">
            <div class="comment-body">
                <div><h2>评论 4</h2></div>
                <div class="comment-textarea">
                    <textarea id="articleMessage"></textarea>
                    <button>发表评论</button>
                </div>
                <div class="comment-list">
                    <ul>
                        #set($comments=[0 .. 9])
                        #foreach($comment in $comments)
                            <li>
                                <div class="comment-image">
                                    <a href="/article/detail/1">
                                        <img src="https://static.oschina.net/uploads/user/106/212080_50.jpg?t=1395912810000" width="40" height="40">
                                    </a>
                                </div>
                                <div class="comment-profile">
                                    <span><a href="/article/detail/1">陈阳阳阳</a></span>
                                    <span>1楼 2017/12/08 15:28</span>
                                </div>
                                <div class="comment-reply"><a href="/article/detail/1">回复</a></div>
                                <hr>
                            </li>
                        #end
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="article-category">
        <div class="category-aboutarticle">
            <h2>相关文章</h2><hr>
            <ul>
                #set($aboutarticles=[0 .. 4])
                #foreach($aboutarticle in $aboutarticles)
                    <li><a>深入区分javascript中的作用域和执行环境</a></li>
                #end
            </ul>
        </div>
        <div class="category-hotarticle">
            <h2>热门文章</h2><hr>
            <ul>
                #set($aboutarticles=[0 .. 4])
                #foreach($aboutarticle in $aboutarticles)
                    <li><a>深入区分javascript中的作用域和执行环境</a></li>
                #end
            </ul>
        </div>
        <div class="category-newarticle">
            <h2>最新文章</h2><hr>
            <ul>
                #set($aboutarticles=[0 .. 4])
                #foreach($aboutarticle in $aboutarticles)
                    <li><a>深入区分javascript中的作用域和执行环境</a></li>
                #end
            </ul>
        </div>
    </div>
</div>
#parse("/portal/footer.vm")
<script type="text/javascript" src="${request.getContextPath()}/plugins/layui/layui.js" charset="utf-8"></script>
<script type="text/javascript" src="${request.getContextPath()}/plugins/jquery/jquery-3.1.0.min.js"  charset="utf-8"></script>
<script type="text/javascript">
    layui.use(['element', 'carousel', 'code', 'layedit'], function () {
        var element = layui.element, carousel = layui.carousel, layedit = layui.layedit;
        layedit.build('articleMessage',{
            tool:[],
            height:100
        });
    });
</script>