.layout-body{
    width: 100%;
    margin: 0px;
    padding: 0px;
    min-width: 1100px;
}
.layout-body .layout-left{
    width: 30%;
    float: left;
    margin-top: 50px;
}
.layout-body .layout-left .action-classify{
    width: 100%;
    float: left;
}
.layout-body .layout-left .action-classify .user-info{
    width: 300px;
    margin: 0 auto;
}
.layout-body .layout-left .action-classify .user-info span{
    width:100%;
    float: left;
    text-align: center;
 }
.layout-body .layout-left .action-classify .user-info .user-name{
    font-size: 1.8rem;
    line-height: 3;
    height: 70px;
}
.layout-body .layout-left .action-classify .user-info .user-words{
    color: #666;
}
.layout-body .layout-left .action-classify .user-info .user-writeaction a{
    border-radius: 3px;
    padding: .4rem .8rem;
    outline: 0;
    border: 0;
    margin: 0;
    background-color: #4eaa4c;
    display: inline-block;
    cursor: pointer;
    width: 100px;
    color: white;
    margin-top: 10px;
}
.layout-body .layout-left .action-classify .user-info span a{
    transition: color .3s;
    text-decoration: none;
    color: #333;
    outline: 0;
 }
.layout-body .layout-left .action-classify .classify-body{
    width: 300px;
    margin: 0 auto;
}
.layout-body .layout-left .action-classify .classify-body .classify-header{
    width: 100%;
    float: left;
    margin-top: 50px;
}
.layout-body .layout-left .action-classify .classify-body .classifytitle{
    width: 200px;
    float: left;
    word-wrap: break-word;
    line-height: 30px;
}
.layout-body .layout-left .action-classify .classify-body .classifycount{
    width: 80px;
    float: right;
    text-align: right;
}
.layout-body .layout-left .action-classify .classify-body ul li{
    width: 100%;
    float: left;
    height: 40px;
}
.layout-body .layout-left .action-classify .classify-body ul li a{
    display: block;
    width: 100%;
    float: left;
    line-height: 28px;
}
.layout-body .layout-right{
    width: 70%;
    float: left;
    margin-top: 50px;
    min-height: 850px;
}
.layout-body .layout-right .action-body{
    width: 100%;
    float: left;
    min-height: 660px;
}
.layout-body .layout-right .action-body ul{
    margin-top: 10px;
    margin-bottom: 10px;
    border-top:1px solid #ddd;
}
.layout-body .layout-right .action-body ul li{
    width: 100%;
    float: left;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
}
.layout-body .layout-right .action-body ul li .actioncontent{
    width: 100%;
    float: left;
}
.layout-body .layout-right .action-body ul li .actioncontent .actiontitle{
    display: block;
    font-size: 15px;
    color: #000;
    word-break: break-all;
    height: 40px;
    text-overflow:ellipsis;
    overflow:hidden;
    width: 100%;
    float: left;
}
.layout-body .layout-right .action-body ul li .actioncontent .actiontitle .actiontype{
    border-color: #51BAE3;
    color: #51BAE3;
    border: 2px solid #51BAE3;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    vertical-align: text-bottom;
    text-align: center;
    font-size: 16px;
    line-height: 26px;
    float: left;
    display: inline-block;
    margin-right: 5px;
}
.layout-body .layout-right .action-body ul li .actioncontent .actionediter{
    color: #666;
    margin-top: 6px;
    width: 100%;
    float: left;
}
.layout-body .layout-right .action-body ul li .actioncontent .actionpublish{
    font-size: 0.9rem;
    margin-top: 6px;
    width: 100%;
    float: left;
}
.layout-body .layout-right .action-page{
    float: left;
    width: 600px;
    margin-top: 35px;
    margin-bottom: 20px;
}