<title>修改用户头像-个人空间主页-MMSNS博客系统</title>
<script type="text/javascript" src="${request.getContextPath()}/plugins/jquery/jquery-3.1.0.min.js"
        charset="utf-8"></script>
<script type="text/javascript" src="$request.getContextPath()/plugins/layer/layer.js"></script>
<script type="text/javascript"
        src="$request.getContextPath()/plugins/fullAvatarEditor/scripts/fullswfobject.js"></script>
<script type="text/javascript" src="$request.getContextPath()/plugins/fullAvatarEditor/scripts/fullAvatar.js"></script>
<div style="" align="center">
    <p id="swfContainer">
        本组件需要安装Flash Player后才可使用，请从<a href="http://www.adobe.com/go/getflashplayer">这里</a>下载安装。
    </p>
</div>
<div id="avator" style="display:none;width: 600px;margin: 0 auto;margin-top: 20px;">
    <div class="avatorimg" style="width: 100%;float: left;">
        <img src="" style="width: 100%;min-height: 400px;">
    </div>
    <div class="changeavatorbut" style="float: left;width: 100%;text-align: center;">
        <button type="button" style="width: 80px;background: chartreuse;color: white">保存头像</button>
    </div>
</div>
<script type="text/javascript">
    var individuation = '$!individuation';
    $(function () {
        swfobject.addDomLoadEvent(function () {
            var swf = new fullAvatarEditor("$request.getContextPath()/plugins/fullAvatarEditor/fullAvatarEditor.swf", "$request.getContextPath()/plugins/fullAvatarEditor/expressInstall.swf", "swfContainer", {
                        id: 'swf',
                        upload_url: '$request.getContextPath()/common/upload/fullAvatarEditor',	//上传接口
                        method: 'post',	//传递到上传接口中的查询参数的提交方式。更改该值时，请注意更改上传接口中的查询参数的接收方式
                        src_upload: 0,		//是否上传原图片的选项，有以下值：0-不上传；1-上传；2-显示复选框由用户选择
                        avatar_box_border_width: 0,
                        avatar_sizes: '100*100',
                        avatar_sizes_desc: '100*100像素'
                    }, function (msg) {
                        console.log(msg);
                        switch (msg.code) {
                            case 1 :
                                break;
                            case 2 :
                                //document.getElementById("upload").style.display = "inline";
                                break;
                            case 3 :
                                if (msg.type == 0) {
                                }
                                else if (msg.type == 1) {
                                    layer.alert("摄像头已准备就绪但用户未允许使用！");
                                }
                                else {
                                    layer.alert("摄像头被占用！");
                                }
                                break;
                            case 5 :
                                var imageUrl = msg.content.avatarUrls[0];
                                $.post("/profile/" + individuation + "/avator", {avator: imageUrl}, function (respData) {
                                    if (respData.code == 200) {
                                        layer.msg("用户头像更新成功",{time:2000},function () {
                                            var index = parent.layer.getFrameIndex(window.name);
                                            parent.layer.close(index);
                                        });
                                    } else {
                                        layer.alert(respData.data, {icon: 5});
                                    }
                                });
                                break;
                        }
                    }
            );
        });
    });
</script>