#parse("/portal/header.vm")
<style type="text/css">
    .user-header{
        width: 100%;
        float: left;
        min-width: 1100px;
        height: 180px;
        margin: 0px;
        padding: 0px;
        border-top: none;
        border-bottom: none;
        background-clip: padding-box;
        background: #E4E1DC;
    }
    .user-header .user-logo{
        float: left;
        width: 120px;
        margin-top: 30px;
        margin-left: 30px;
    }
    .user-header .user-info{
        float: left;
        width: 48%;

        margin-top: 30px;
    }
    .user-header .user-info span{
        float: left;
        width: 100%;
    }
    .user-header .user-score{
        float: left;
        width: 400px;
        margin-top: 30px;
    }
    .user-header .user-score>span{
        float: left;
        width: 80px;
    }
    .user-header .user-score span span{
        float: left;
        width: 100%;
        font-size: 20px;
        display: inline-block;
        text-align: center;
        color: #666;
    }
    .user-header .user-score span span a{
        font-size: 36px;
        font-weight: 600;
        display: block;
        margin-top: 5px;
        text-align: center;
        color: #4eaa4c;
    }
</style>
<div class="user-header">
    <div class="user-logo">
        #if($individuation==$MMSNS_COMMON_USER.individuation)
            #if($!VISIT_USER.avator)
                <a href="javascript:void(0)" onclick="changeUserAvator('$individuation')"><img src="$VISIT_USER.avator" width="100" height="100" style="border-radius: 50%"></a>
            #else
                <a href="javascript:void(0)" onclick="changeUserAvator('$individuation')"><img src="/resources/portal/images/logo.jpg" width="100" height="100" style="border-radius: 50%"></a>
            #end
        #else
            #if($!VISIT_USER.avator)
                <a href="/profile/$individuation/home"><img src="$VISIT_USER.avator" width="100" height="100" style="border-radius: 50%"></a>
            #else
                <a href="/profile/$individuation/home"><img src="/resources/portal/images/logo.jpg" width="100" height="100" style="border-radius: 50%"></a>
            #end
        #end
    </div>
    <div class="user-info">
        <span style="font-size: 24px;color: #111;-webkit-font-smoothing: antialiased;font-weight: 400;"><a href="/profile/$individuation/home">$VISIT_USER.userName</a></span>
        <span style="font-size: 14px;-webkit-font-smoothing: antialiased;font-weight: 400;margin-top: 5px">
            #if($!VISIT_USER.company)
                $!VISIT_USER.company
            #else
                公司未设置
            #end
            -
            #if($!VISIT_USER.positional)
                $!VISIT_USER.positional
            #else
                职位未设置
            #end
        </span>
        <span style="font-size: 14px;-webkit-font-smoothing: antialiased;font-weight: 400;margin-top: 5px">
            #if($!VISIT_USER.motto)
                $!VISIT_USER.motto
            #else
                人生格言未设置
            #end
        </span>
        #if($individuation==$MMSNS_COMMON_USER.individuation)
            <span style="margin-top: 9px"><a href="/admin/$individuation/user/profile" style="color: #4eaa4c;border: 1px solid #66a757;border-radius: 2px;width: 60px;padding: .3rem .8rem;">编辑个人资料</a></span>
            <span style="margin-top: 9px;color: #999;">加入于 $date.format("yyyy-MM-dd",$!VISIT_USER.createDate)</span>
        #else
            <span style="margin-top: 30px">
                <a href="/profile/$!individuation/home" style="margin-left: 5px;font-size: 14px;color: #4eaa4c"><i class="fa fa-thumbs-o-up" style="font-size: 18px;" aria-hidden="true"></i>点赞</a>
                <a href="/profile/$!individuation/home" style="margin-left: 5px;font-size: 14px;color: #4eaa4c"><i class="fa fa-heart-o" style="font-size: 18px;" aria-hidden="true"></i>关注</a>
                <a href="/profile/$!individuation/home" style="margin-left: 5px;font-size: 14px;color: #4eaa4c"><i class="fa fa-comment-o" style="font-size: 18px;padding-bottom: 2px" aria-hidden="true"></i>私信</a>
            </span>
        #end
    </div>
    <div class="user-score">
        <span>
            <span>点赞</span>
            <span><a href="/profile/$!individuation/home/vote">12</a></span>
        </span>
        <span>
            <span>粉丝</span>
            <span><a href="/profile/$!individuation/home/fans">10</a></span>
        </span>
        <span>
            <span>关注</span>
            <span><a href="/profile/$!individuation/home/fellow">12</a></span>
        </span>
        <span>
            <span>积分</span>
            <span><a href="/profile/$!individuation/home/score">12</a></span>
        </span>
        <span>
            <span>访问量</span>
            <span><a href="/profile/$!individuation/home/access">10000</a></span>
        </span>
        #if($individuation!=$MMSNS_COMMON_USER.individuation)
            <div style="width: 350px;float: right;text-align: right;margin-top: 30px;color: #999;">加入于 $date.format("yyyy-MM-dd",$!VISIT_USER.createDate) 最近登录：$date.format("yyyy-MM-dd HH:mm",$!VISIT_USER.lastLoginTime)</div>
        #end
    </div>
</div>