<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>baby慕慕SNS个人博客-个人空间主页</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
</head>
<body>
#parse("/profile/header.vm")
<div class="user-body">
    <div class="content">
        <div class="layout-content">
            <span class="contenttitle">
                <h2 style="">我的文章</h2>
                <span><a href="/profile/babymm/article">查看更多</a></span>
            </span>
            <div class="maincontent">
                <ul>
                    #set($articles=[0 .. 3])
                    #foreach($article in $articles)
                        <li>
                            <div class="contentbody">
                                <div class="logo">
                                    <a href="/profile/"><img src="https://static.oschina.net/uploads/space/2017/0619/101653_Pe5G_2966952.png" width="120px" height="120px" style="border-radius: 1%;"></a>
                                </div>
                                <div class="contentinfo">
                                    <span class="title"><a href="">Jenkins持续化部署</a></span>
                                    <span class="body">首先要明确，作用域和执行环境是两个完全不同的概念，我们试图给他俩分别一个明确的定义，发现很难，因为你很难定义一个概念“是什么”</span>
                                </div>
                                <div class="media">
                                    <span>浏览123</span>
                                    <span>评论12</span>
                                    <span style="float: right;">2017-12-13发布</span>
                                </div>
                            </div>
                        </li>
                    #end
                </ul>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="layout-content">
            <span class="contenttitle">
                <h2 style="">我的动弹</h2>
                <span><a href="/profile/babymm/article">查看更多</a></span>
            </span>
            <div class="maincontent">
                <ul>
                    #set($articles=[0 .. 3])
                    #foreach($article in $articles)
                        <li>
                            <div class="contentbody">
                                <div class="logo">
                                    <a href="/profile/"><img src="https://static.oschina.net/uploads/space/2017/0619/101653_Pe5G_2966952.png" width="120px" height="120px" style="border-radius: 1%;"></a>
                                </div>
                                <div class="contentinfo">
                                    <span class="title"><a href="">Jenkins持续化部署</a></span>
                                    <span class="body">首先要明确，作用域和执行环境是两个完全不同的概念，我们试图给他俩分别一个明确的定义，发现很难，因为你很难定义一个概念“是什么”</span>
                                </div>
                                <div class="media">
                                    <span>浏览123</span>
                                    <span>评论12</span>
                                    <span style="float: right;">2017-12-13发布</span>
                                </div>
                            </div>
                        </li>
                    #end
                </ul>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="layout-content">
            <span class="contenttitle">
                <h2 style="">我的群组</h2>
                <span><a href="/profile/babymm/article">查看更多</a></span>
            </span>
            <div class="maincontent">
                <ul>
                    #set($articles=[0 .. 3])
                    #foreach($article in $articles)
                        <li>
                            <div class="contentbody">
                                <div class="logo">
                                    <a href="/profile/"><img src="https://static.oschina.net/uploads/space/2017/0619/101653_Pe5G_2966952.png" width="120px" height="120px" style="border-radius: 1%;"></a>
                                </div>
                                <div class="contentinfo">
                                    <span class="title"><a href="">Jenkins持续化部署</a></span>
                                    <span class="body">首先要明确，作用域和执行环境是两个完全不同的概念，我们试图给他俩分别一个明确的定义，发现很难，因为你很难定义一个概念“是什么”</span>
                                </div>
                                <div class="media">
                                    <span>浏览123</span>
                                    <span>评论12</span>
                                    <span style="float: right;">2017-12-13发布</span>
                                </div>
                            </div>
                        </li>
                    #end
                </ul>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="layout-content">
            <span class="contenttitle">
                <h2 style="">我的资讯</h2>
                <span><a href="/profile/babymm/article">查看更多</a></span>
            </span>
            <div class="maincontent">
                <ul>
                    #set($articles=[0 .. 3])
                    #foreach($article in $articles)
                        <li>
                            <div class="contentbody">
                                <div class="logo">
                                    <a href="/profile/"><img src="https://static.oschina.net/uploads/space/2017/0619/101653_Pe5G_2966952.png" width="120px" height="120px" style="border-radius: 1%;"></a>
                                </div>
                                <div class="contentinfo">
                                    <span class="title"><a href="">Jenkins持续化部署</a></span>
                                    <span class="body">首先要明确，作用域和执行环境是两个完全不同的概念，我们试图给他俩分别一个明确的定义，发现很难，因为你很难定义一个概念“是什么”</span>
                                </div>
                                <div class="media">
                                    <span>浏览123</span>
                                    <span>评论12</span>
                                    <span style="float: right;">2017-12-13发布</span>
                                </div>
                            </div>
                        </li>
                    #end
                </ul>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="layout-content">
            <span class="contenttitle">
                <h2 style="">我的图库</h2>
                <span><a href="/profile/babymm/article">查看更多</a></span>
            </span>
            <div class="maincontent">
                <ul>
                    #set($articles=[0 .. 3])
                    #foreach($article in $articles)
                        <li>
                            <div class="contentbody" style="float: left;width: 98%;border: 1px solid silver;border-radius: 1%;height: 160px">
                                <div class="phototitle">
                                    <span><a href="">Jenkins持续化部署</a></span>
                                </div>
                                <div class="photoimg">
                                    <img src="https://gw.alicdn.com/bao/uploaded/i2/701696736/TB2PNl5ahQa61Bjy0FhXXaalFXa_!!701696736.jpg_400x400q90.jpg?t=1513063905068">
                                    <img src="https://gw.alicdn.com/bao/uploaded/i2/162734861/TB2V5rsX_gc61BjSZFkXXcTkFXa_!!162734861.jpg_400x400q90.jpg?t=1513063905068">
                                    <img src="https://gw.alicdn.com/bao/uploaded/i4/69476562/TB2htq4XTka61BjSszfXXXN8pXa_!!69476562.jpg_400x400q90.jpg?t=1513063905068">
                                </div>
                                <div class="media">
                                    <span>浏览123</span>
                                    <span>评论12</span>
                                    <span style="float: right;">2017-12-13发布</span>
                                </div>
                            </div>
                        </li>
                    #end
                </ul>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="layout-content">
            <span class="contenttitle">
                <h2 style="">我的文档</h2>
                <span><a href="/profile/babymm/article">查看更多</a></span>
            </span>
            <div class="maincontent">
                <ul>
                    #set($articles=[0 .. 3])
                    #foreach($article in $articles)
                        <li>
                            <div class="contentbody">
                                <div class="logo">
                                    <a href="/profile/"><img src="https://static.oschina.net/uploads/space/2017/0619/101653_Pe5G_2966952.png" width="120px" height="120px" style="border-radius: 1%;"></a>
                                </div>
                                <div class="contentinfo">
                                    <span class="title"><a href="">Jenkins持续化部署</a></span>
                                    <span class="body">首先要明确，作用域和执行环境是两个完全不同的概念，我们试图给他俩分别一个明确的定义，发现很难，因为你很难定义一个概念“是什么”</span>
                                </div>
                                <div class="media">
                                    <span>浏览123</span>
                                    <span>评论12</span>
                                    <span style="float: right;">2017-12-13发布</span>
                                </div>
                            </div>
                        </li>
                    #end
                </ul>
            </div>
        </div>
    </div>
</div>
#parse("/portal/footer.vm")
</body>
</html>