<style type="text/css">
    .mmsns-nav {
        width: 100%;
        min-width: 1100px;
        height: 60px;
        background-color: #393D49;
        color: #fff;
    }
    .mmsns-nav .nav-logo {
        width: 200px;
        float: left;
        min-width: 200px;
        padding-right: 0px;
    }
    .mmsns-nav .nav-logo img {
        float: right;
        margin-left: 15px;
    }
    .mmsns-nav .nav-content {
        width: 500px;
        float: left;
        min-width: 500px;
        padding-left: 0px;
    }
    .mmsns-nav .nav-button {
        padding: 0px;
        float: right;
        width: 400px;
        min-width: 400px;
    }
    .mmsns-nav .nav-unlogin-button {
        padding: 0px;
        float: right;
        width: 150px;
        min-width: 150px;
    }
    .layui-this a{
        color: #4eaa4c !important;
    }
</style>
<div class="mmsns-nav">
    <div class="nav-logo">
        <a href="/">
            #*<img src="http://img.logonc.com/d/file/logo/20171122/3d4c440981a30b5cc7f88d3558da3f83.jpg"  width="150px" height="60px">*#
            #*<img src="http://pic.ibaotu.com/00/41/59/36S888piCk8u.jpg-1.jpg!ww700"  width="150px" height="60px">*#
        </a>
    </div>
    <ul class="nav-content layui-nav">
        #if($mainModular=='article')
            <li class="layui-nav-item"><a href="/">首页</a></li>
            <li class="layui-nav-item layui-this"><a href="/article">文章</a></li>
            <li class="layui-nav-item"><a href="/action">动弹</a></li>
            <li class="layui-nav-item"><a href="/group">群组</a></li>
            <li class="layui-nav-item"><a href="/news">资讯</a></li>
            <li class="layui-nav-item"><a href="/photo">图库</a></li>
            <li class="layui-nav-item"><a href="/doc">文库</a></li>
        #elseif($mainModular=='action')
            <li class="layui-nav-item"><a href="/">首页</a></li>
            <li class="layui-nav-item"><a href="/article">文章</a></li>
            <li class="layui-nav-item layui-this"><a href="/action">动弹</a></li>
            <li class="layui-nav-item"><a href="/group">群组</a></li>
            <li class="layui-nav-item"><a href="/news">资讯</a></li>
            <li class="layui-nav-item"><a href="/photo">图库</a></li>
            <li class="layui-nav-item"><a href="/doc">文库</a></li>
        #elseif($mainModular=='group')
            <li class="layui-nav-item"><a href="/">首页</a></li>
            <li class="layui-nav-item"><a href="/article">文章</a></li>
            <li class="layui-nav-item"><a href="/action">动弹</a></li>
            <li class="layui-nav-item layui-this"><a href="/group">群组</a></li>
            <li class="layui-nav-item"><a href="/news">资讯</a></li>
            <li class="layui-nav-item"><a href="/photo">图库</a></li>
            <li class="layui-nav-item"><a href="/doc">文库</a></li>
        #elseif($mainModular=='news')
            <li class="layui-nav-item"><a href="/">首页</a></li>
            <li class="layui-nav-item"><a href="/article">文章</a></li>
            <li class="layui-nav-item"><a href="/action">动弹</a></li>
            <li class="layui-nav-item"><a href="/group">群组</a></li>
            <li class="layui-nav-item layui-this"><a href="/news">资讯</a></li>
            <li class="layui-nav-item"><a href="/photo">图库</a></li>
            <li class="layui-nav-item"><a href="/doc">文库</a></li>
        #elseif($mainModular=='photo')
            <li class="layui-nav-item"><a href="/">首页</a></li>
            <li class="layui-nav-item"><a href="/article">文章</a></li>
            <li class="layui-nav-item"><a href="/action">动弹</a></li>
            <li class="layui-nav-item"><a href="/group">群组</a></li>
            <li class="layui-nav-item"><a href="/news">资讯</a></li>
            <li class="layui-nav-item layui-this"><a href="/photo">图库</a></li>
            <li class="layui-nav-item"><a href="/doc">文库</a></li>
        #elseif($mainModular=='doc')
            <li class="layui-nav-item"><a href="/">首页</a></li>
            <li class="layui-nav-item"><a href="/article">文章</a></li>
            <li class="layui-nav-item"><a href="/action">动弹</a></li>
            <li class="layui-nav-item"><a href="/group">群组</a></li>
            <li class="layui-nav-item"><a href="/news">资讯</a></li>
            <li class="layui-nav-item"><a href="/photo">图库</a></li>
            <li class="layui-nav-item layui-this"><a href="/doc">文库</a></li>
        #elseif($mainModular=='index')
            <li class="layui-nav-item layui-this"><a href="/">首页</a></li>
            <li class="layui-nav-item"><a href="/article">文章</a></li>
            <li class="layui-nav-item"><a href="/action">动弹</a></li>
            <li class="layui-nav-item"><a href="/group">群组</a></li>
            <li class="layui-nav-item"><a href="/news">资讯</a></li>
            <li class="layui-nav-item"><a href="/photo">图库</a></li>
            <li class="layui-nav-item"><a href="/doc">文库</a></li>
        #else
            <li class="layui-nav-item"><a href="/">首页</a></li>
            <li class="layui-nav-item"><a href="/article">文章</a></li>
            <li class="layui-nav-item"><a href="/action">动弹</a></li>
            <li class="layui-nav-item"><a href="/group">群组</a></li>
            <li class="layui-nav-item"><a href="/news">资讯</a></li>
            <li class="layui-nav-item"><a href="/photo">图库</a></li>
            <li class="layui-nav-item"><a href="/doc">文库</a></li>
        #end
    </ul>
    #if($shiro.isUser() and $!MMSNS_COMMON_USER)
        <ul class="nav-button layui-nav">
            <li class="layui-nav-item">
                <a href="/admin/$!MMSNS_COMMON_USER.individuation/user/inbox">我的消息#*<span class="layui-badge">9</span>*#</a>
            </li>
            <li class="layui-nav-item">
                <a href="/profile/$!MMSNS_COMMON_USER.individuation/article/create">资料编辑</a>
                <dl class="layui-nav-child">
                    <dd><a href="/profile/$!MMSNS_COMMON_USER.individuation/article/create">编写文章</a></dd>
                    <dd><a href="/profile/$!MMSNS_COMMON_USER.individuation/action/publish">发布动弹</a></dd>
                    <dd><a href="/profile/$!MMSNS_COMMON_USER.individuation/group/create">创建群组</a></dd>
                    <dd><a href="/profile/$!MMSNS_COMMON_USER.individuation/news/publish">发布资讯</a></dd>
                    <dd><a href="/profile/$!MMSNS_COMMON_USER.individuation/photo/upload">上传图库</a></dd>
                    <dd><a href="/profile/$!MMSNS_COMMON_USER.individuation/doc/upload">上传文档</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a href="/profile/$!MMSNS_COMMON_USER.individuation/home">我的空间</a>
                <dl class="layui-nav-child">
                    <dd><a href="/profile/$!MMSNS_COMMON_USER.individuation/article">我的文章</a></dd>
                    <dd><a href="/profile/$!MMSNS_COMMON_USER.individuation/action">我的动弹</a></dd>
                    <dd><a href="/profile/$!MMSNS_COMMON_USER.individuation/group">我的群组</a></dd>
                    <dd><a href="/profile/$!MMSNS_COMMON_USER.individuation/news">我的资讯</a></dd>
                    <dd><a href="/profile/$!MMSNS_COMMON_USER.individuation/photo">我的图库</a></dd>
                    <dd><a href="/profile/$!MMSNS_COMMON_USER.individuation/doc">我的文档</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a href="/admin/$!MMSNS_COMMON_USER.individuation/index">$!MMSNS_COMMON_USER.userName</a>
                <dl class="layui-nav-child">
                    <dd><a href="/admin/$!MMSNS_COMMON_USER.individuation/user/profile">个人资料</a></dd>
                    <dd><a href="/admin/$!MMSNS_COMMON_USER.individuation/user/chpwd">修改密码</a></dd>
                    <dd><a href="/admin/$!MMSNS_COMMON_USER.individuation/user/chphone">安全管理</a></dd>
                    <dd><a href="/logout">退出登录</a></dd>
                </dl>
            </li>
        </ul>
    #else
        <ul class="nav-unlogin-button layui-nav">
            <li class="layui-nav-item"><a href="/login">登录</a></li>
            <li class="layui-nav-item"><a href="/register/phone">注册</a></li>
        </ul>
    #end
</div>