<title>手机找回密码-MMSNS博客系统</title>
<link rel="stylesheet" href="${request.getContextPath()}/plugins/layui/css/layui.css" media="all">
<link rel="stylesheet" href="${request.getContextPath()}/resources/portal/css/login.css">
#parse("/portal/header.vm")
<div class="layout-body">
   <div class="layout-center">
       <div class="layout-header">
           <h2>手机找回密码</h2>
       </div>
        <form class="layout-form" action="/login" method="post" enctype="application/x-www-form-urlencoded">
            <div class="form-item">
                <input type="email" name="userPassword" placeholder="手机号码">
            </div>
            <div class="form-item">
                <div class="form-smscode">
                    <input type="text" name="captchacode" placeholder="短信验证码">
                </div>
                <div class="form-sendbutton">
                    <button type="button">发送</button>
                </div>
            </div>
            <div class="form-item">
                <input type="text" name="userPassword" placeholder="输入新密码">
            </div>
            <div class="form-item">
                <input type="text" name="userPassword" placeholder="重复新密码">
            </div>
            <div class="form-item">
                <input type="submit" class="register-button" value="重设密码"/>
            </div>
            <div class="form-item">
                <div class="form-ul">
                    <div class="form-buttons" style="width: 200px;float: right;">
                        <a href="/login">账户登录</a>
                        <a href="/iforget">忘记密码</a>
                        <a href="/register/phone">手机注册</a>
                    </div>
                </div>
            </div>
        </form>
   </div>
</div>

#parse("/portal/sfooter.vm")
<script type="text/javascript" src="${request.getContextPath()}/plugins/jquery/jquery-3.1.0.min.js" charset="utf-8"></script>