<title>首页-MMSNS博客系统</title>
<link rel="stylesheet" href="${request.getContextPath()}/plugins/layui/css/layui.css" media="all">
<link rel="stylesheet" href="${request.getContextPath()}/resources/portal/css/index.css">
#parse("/portal/header.vm")
<div class="mmsns">
    <div class="mmsns-cursor layui-carousel" id="mmsnsCursor" lay-filter="mmsnsCursorFilter">
        <div carousel-item="">
            <div><img src="http://www.jeesns.cn/res/front/images/banner1.png" width="100%"></div>
            <div><img src="http://www.jeesns.cn/res/front/images/banner2.png" width="100%"></div>
            <div><img src="http://www.jeesns.cn/res/front/images/banner3.png" width="100%"></div>
        </div>
    </div>
    <div class="mmsns-content">
        <div class="layout-header">
            <span class="headertitle">精彩文章</span>
            <span class="headermore"><a href="/article">阅读更多</a></span>
        </div>
        <div class="layout-body">
            <div class="layui-row">
                #foreach($article in $articles)
                    <div class="layui-col-xs6 layui-col-sm4 layui-col-md3">
                        <div class="grid-demo grid-demo-bg1">
                            <div class="article-logo">
                                <a href="/article/detail/$!article.articleId"><img src="$!article.articleLogo"></a>
                            </div>
                            <div class="article-title">
                                <h4><a href="/article/detail/$!article.articleId">$!article.articleTitle</a></h4>
                            </div>
                        </div>
                    </div>
                #end
            </div>
        </div>
    </div>
</div>
#parse("/portal/footer.vm")
<script type="text/javascript" src="${request.getContextPath()}/plugins/layui/layui.js" charset="utf-8"></script>
<script type="text/javascript" src="${request.getContextPath()}/plugins/jquery/jquery-3.1.0.min.js" charset="utf-8"></script>
<script type="text/javascript">
    var clientWidth = document.documentElement.body, mmsnsCursor = null;
    window.onresize = function () {
        clientWidth = document.body.clientWidth;
        var options = {width: clientWidth};
        mmsnsCursor.reload(options);
    }
    layui.use(['element', 'carousel'], function () {
        var element = layui.element, carousel = layui.carousel;
        mmsnsCursor = carousel.render({
            elem: '#mmsnsCursor'
            , interval: 1800
            , width: clientWidth + 'px'
            , anim: 'fade'
            , height: '400px'
        });
    });
</script>