<title>手机注册-MMSNS博客系统</title>
<link rel="stylesheet" href="${request.getContextPath()}/plugins/layui/css/layui.css" media="all">
<link rel="stylesheet" href="${request.getContextPath()}/resources/portal/css/login.css">
#parse("/portal/header.vm")
<div class="layout-body">
   <div class="layout-center">
       <div class="layout-header">
           <h2>手机注册</h2>
       </div>
        <form class="layout-form" method="post" enctype="application/x-www-form-urlencoded">
            <div class="form-item">
                <input type="text" name="username" placeholder="用户昵称(6-12)">
            </div>
            <div class="form-item">
                <input type="text" name="phone" placeholder="手机号码">
            </div>
            <div class="form-item">
                <div class="form-smscode">
                    <input type="text" name="code" placeholder="短信验证码">
                    <input type="hidden" name="smsId" value="">
                </div>
                <div class="form-sendbutton">
                    <button id="sendMessageBtn" type="button" onclick="sendPhoneMessage()">发送</button>
                </div>
            </div>
            <div class="form-item">
                <input type="password" name="password" placeholder="注册密码">
            </div>
            <div class="form-item">
                <input type="password" name="repassword" placeholder="重复注册密码">
            </div>
            <div class="form-item">
                <input type="button" class="register-button" onclick="registerPhone()" value="立即注册"/>
            </div>
            <div class="form-item">
                <div class="form-ul">
                    <div class="form-buttons" style="width: 200px;float: right;">
                        <a href="/login">账户登录</a>
                        <a href="/iforget">忘记密码</a>
                        <a href="/register/email">邮箱注册</a>
                    </div>
                </div>
            </div>
        </form>
   </div>
</div>
#parse("/portal/sfooter.vm")
<script type="text/javascript" src="${request.getContextPath()}/plugins/jquery/jquery-3.1.0.min.js" charset="utf-8"></script>
<script type="text/javascript" src="${request.getContextPath()}/plugins/layer/layer.js" charset="utf-8"></script>
<script type="text/javascript" src="${request.getContextPath()}/resources/portal/js/login.js" charset="utf-8"></script>