<style type="text/css">
    .mmsns-footer{
        position: fixed;
        right: 0;
        bottom: 0;
        width: 100%;
        min-width: 1000px;
        height: 80px;
        background-color: #24292f;
        color: #fff;
    }
    .mmsns-footer .footer-copyright{
        line-height: 26px;
        margin-top: 0px;
        color:#878B91;
    }
    .mmsns-footer .footer-about{
        line-height: 26px;
        margin-top: 10px;
        color:#878B91;
    }
    .mmsns-footer .footer-about a{
        text-decoration: none;
        cursor: pointer;
        color: #878B91;
    }
</style>
<div class="mmsns-footer">
    <div>
        <p class="footer-about" align="center">
            <a href="">关于我们</a> <span>|</span>  <a href="">联系我们</a> <span>|</span>  <a href="">付款方式</a> <span>|</span>  <a href="">提交工单</a> <span>|</span>  <a href="">常见问题</a>
        </p>
        <p class="footer-copyright" align="center">
            Copyright © 2007-2017. baby慕慕科技有限公司 版权所有 Power by Mereca  鄂ICP备14007080号-1
        </p>
    </div>
</div>
