.body{
    width: 100%;
    min-width: 1100px;
    margin: 0px;
    padding: 0px;
}
.article-content{
    width: 95%;
    margin-left: 1%;
    margin-right: 2.5%;
    min-width: 1045px;
 }
.article-content .article-body{
    float: left;
    width: 70%;
    margin: 0px;
    padding: 0px;
}
.article-content .article-body .detail-breadcrumb{
    font-size: 16px;
    font-weight: 400;
    margin: 22px 0 30px;
}
.article-content .article-body .detail-breadcrumb a{
    font-size: 18px;
    font-weight: 400;
    margin: 22px 0 30px;
    color: #49ab4f;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
    text-decoration: none;
    outline: 0;
}
.article-content .article-body .article-title{
    width: 100%;
    height: 100px;
}
.article-content .article-body .article-title h2{
    /*text-align: center;*/
    font-size: 28px;
    word-break: break-all;
    margin-top: 20px;
    margin-bottom: 20px;
}
.article-content .article-body .article-title .article-author{
    width: 550px;
    float: left;
}
.article-content .article-body .article-title .article-author span{
    float: left;
    margin-right: 8px;
    line-height: 20px;
    font-size: 16px;
}
.article-content .article-body .article-message{
    padding: 10px 0;
    font-size: 14px;
    line-height: 1.78571429;
    border-top: 1px solid #ddd;
    margin-top: 20px;
}
.article-content .article-body .article-message .article-abstract{
    margin: 23px 0 45px;
    line-height: 28px;
    word-break: break-all;
    color: #666;
    font-size: 18px;
    font-style: italic;
    font-family: Baskerville,Georgia,"Liberation Serif","Kaiti SC",STKaiti,"AR PL UKai CN","AR PL UKai HK","AR PL UKai TW","AR PL UKai TW MBE","AR PL KaitiM GB",KaiTi,KaiTi_GB2312,"TW\-Kai",serif;
}
.article-content .article-body .article-message .article-maincontent{
    font-size: 16px;
    font-family: "Pingfang SC",STHeiti,"Lantinghei SC","Open Sans",Arial,"Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei",SimSun,sans-serif;
    color: #3d464d;
    line-height: 28px;
    text-align: left;
    word-wrap: break-word;
    -moz-text-size-adjust: 100%;
    display: block;
}
.article-content .article-body .article-extra{
    float: right;
    width: 100%;
    height: 140px;
    border-bottom: 1px solid #ddd;
}
.article-content .article-body .article-extra .article-license,
.article-content .article-body .article-extra .article-classify,
.article-content .article-body .article-extra .article-labels
{
    width: 100%;
    float: right;
    height: 30px;
}
.article-content .article-body .article-extra .article-license span,
.article-content .article-body .article-extra .article-classify span,
.article-content .article-body .article-extra .article-labels span
{
    float: right;
}
.article-content .article-body .article-extra .article-classify span a,
.article-content .article-body .article-extra .article-labels span a{
    background: #EBEBEB;
    padding: 7px 6px 5px;
    margin-top: 5px;
    line-height: 1;
    font-size: 14px;
}
.article-content .article-body .article-buttons{
    float: left;
    width: 100%;
}
.article-content .article-body .article-buttons ul{
    width: 760px;
    margin: 10px auto;
}
.article-content .article-body .article-buttons ul li{
    float: left;
    margin-right: 10px;
}
.article-content .article-body .article-buttons ul li a{
    width: 130px;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    padding: 0;
    display: block;
    border: 1px solid #5B5C5F;
    background: #fff;
    border-radius: 0;
    color: #5B5C5F;
    text-align: center;
}
.article-content .article-body .article-users{
    float: left;
    width: 100%;
}
.article-content .article-body .article-users .article-usermessage{
    width: 100%;
    margin: 50px auto;
}
.article-content .article-body .article-users .article-usermessage .user-image{
    float: left;
    width: 80px;
}
.article-content .article-body .article-users .article-usermessage .user-image a{
    float: left;
    width: 80px;
    text-align: center;
}
.article-content .article-body .article-users .article-usermessage .user-message{
    float: left;
    margin-left: 5px;
}
.article-content .article-body .article-users .article-usermessage .user-message span{
    float: left;
    width: 100%;
}
.article-content .article-body .article-users .article-usermessage .user-message span a{
    color: #40E23B;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 22px;
    line-height: 35px;
    padding: 0!important;
    padding-top: 2px;
    margin-right: 30px;
}
.article-content .article-body .article-comment{
    float: left;
    width: 100%;
    margin-bottom: 50px;
}
.article-content .article-body .article-comment .comment-body{
    width: 100%;
    margin: 50px auto;
}
.article-content .article-body .article-comment .comment-body .comment-textarea button{
    float: right;
    background-color: #4eaa4c;
    border-radius: 3px;
    padding: .4rem .8rem;
    outline: 0;
    border: 0;
    margin: 0;
    display: inline-block;
    cursor: pointer;
}
.article-content .article-body .article-comment .comment-body .comment-list ul li{
    float: left;
    margin-top: 20px;
    width: 100%;
}
.article-content .article-body .article-comment .comment-body .comment-list ul li .comment-image{
    float: left;
    width: 50px;
}
.article-content .article-body .article-comment .comment-body .comment-list ul li .comment-profile{
    float: left;
}
.article-content .article-body .article-comment .comment-body .comment-list ul li .comment-profile span{
    float: left;
    width: 100%;
}
.article-content .article-body .article-comment .comment-body .comment-list ul li .comment-reply{
    float: right;
    margin-bottom: 50px;
}
.article-content .article-category{
    width: 25%;
    float: right;
    margin: 0px;
    padding: 0px;
    margin-top: 112px;
}
.article-content .article-category .category-aboutarticle,
.article-content .article-category .category-hotarticle,
.article-content .article-category .category-newarticle
{
    float: left;
    width: 100%;
}
.article-content .article-category .category-aboutarticle ul li,
.article-content .article-category .category-hotarticle ul li,
.article-content .article-category .category-newarticle ul li
{
    margin-bottom: 30px;
    width: 100%;
    float: left;
}