<title>群组-MMSNS博客系统</title>
<link rel="stylesheet" href="${request.getContextPath()}/plugins/layui/css/layui.css" media="all">
<link rel="stylesheet" href="${request.getContextPath()}/resources/portal/css/group/group.css">
<link rel="stylesheet" href="${request.getContextPath()}/plugins/font-awesome/css/font-awesome.min.css">
#parse("/portal/header.vm")
<div class="group-search">
    <div class="search-logo">
        <a href="/group">
            <h1>我的群组</h1>
        </a>
    </div>
</div>
<div class="group-body">
    <div class="group-content">
        <div class="layui-row">
            #set($groups=[0 .. 8])
            #foreach($group in $groups)
                <div class="maincontent layui-col-xs12 layui-col-sm6 layui-col-md6">
                    <div class="grid-demo">
                        <div class="group-header">
                            <h2>家庭群组</h2>
                            <a href="/group/classify">更多</a>
                        </div>
                        <div class="group-article1">
                            <div class="group-image"><a href="/group/detail/1"><img src="http://www.xiaomoc.top/group1/M00/00/02/eE0NXVkjpJeAVYsGAAGfKZ7BqmE159.png" width="180" height="120"></a></div>
                            <div class="group-content">
                                <span class="group-message" style="margin-top: 3px;"><a href="/group/detail/1">&nbsp;&nbsp;&nbsp;&nbsp;家庭群组是一个开放群组，允许所有人来加入，大家一起来体会家的感觉</a></span>
                                <span class="group-info">
                                    <span> 1 篇文章 </span>
                                    <span> 10人关注 </span>
                                </span>
                            </div>
                        </div>
                        #set($grouparticles=[0 .. 4])
                        #foreach($grouparticle in $grouparticles)
                            <div class="group-article">
                                <a href="/group/detail/1">
                                    <span class="artilce-title"><h3>千万富翁当共享单车维运工 中国富豪退休</h3></span>
                                    <span class="article-date" style="margin-right: 20px">2017-12-12</span>
                                </a>
                            </div>
                        #end
                    </div>
                </div>
            #end
        </div>
    </div>
    <div class="group-category">
        <div class="category-hotarticle">
            <h2>热门帖子</h2><hr>
            <ul>
                #set($aboutarticles=[0 .. 9])
                #foreach($aboutarticle in $aboutarticles)
                    <li><a>深入区分javascript中的作用域和执行环境</a></li>
                #end
            </ul>
        </div>
        <div class="category-newarticle">
            <h2>最新帖子</h2><hr>
            <ul>
                #set($aboutarticles=[0 .. 9])
                #foreach($aboutarticle in $aboutarticles)
                    <li><a>深入区分javascript中的作用域和执行环境</a></li>
                #end
            </ul>
        </div>
    </div>
</div>
#parse("/portal/footer.vm")
<script type="text/javascript" src="${request.getContextPath()}/plugins/layui/layui.js" charset="utf-8"></script>
<script type="text/javascript" src="${request.getContextPath()}/plugins/jquery/jquery-3.1.0.min.js" charset="utf-8"></script>
<script type="text/javascript">
    layui.use(['element'], function () {
        var element = layui.element;
    });
</script>
</body>
</html>