<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>baby慕慕SNS个人博客-我的文章</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="${request.getContextPath()}/plugins/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="${request.getContextPath()}/plugins/font-awesome/css/font-awesome.min.css" media="all">
    <link rel="stylesheet" href="${request.getContextPath()}/resources/profile/css/article/article.css" media="all">
</head>
<body>
#parse("/portal/header.vm")
<div class="layout-body">
    <div class="layout-left">
        <div class="article-classify">
            <div class="user-info">
                <span class="user-logo"><a href="/profile/babymm/home"><img src="https://gw.alicdn.com/bao/uploaded/i1/180558071/TB2sy6jXMQc61BjSZFGXXa1DFXa_!!180558071.jpg_400x400q90.jpg?t=1513063905068" width="100" height="100" style="border-radius: 50%"></a></span>
                <span class="user-name"><a href="/profile/babymm/home">baby慕慕</a></span>
                <span class="user-words">共编写3456文字</span>
                <span class="user-writearticle"><a href="/profile/babymm/article/create">编写文章</a></span>
            </div>
            <div class="classify-body">
                <div class="classify-header">
                    <span class="classifytitle" style="line-height: 30px;font-size: 18px;font-weight: 400">文章类型</span>
                    <span class="classifycount">共3篇</span>
                </div>
                <hr>
                <ul>
                    <li>
                        <a href="/profile/babymm/article">
                            <span class="classifytitle">我发布的</span>
                            <span class="classifycount">3</span>
                        </a>
                    </li>
                    <li>
                        <a href="/profile/babymm/article">
                            <span class="classifytitle">我转发的</span>
                            <span class="classifycount">3</span>
                        </a>
                    </li>
                    <li>
                        <a href="/profile/babymm/article">
                            <span class="classifytitle">我点赞的</span>
                            <span class="classifycount">3</span>
                        </a>
                    </li>
                    <li>
                        <a href="/profile/babymm/article">
                            <span class="classifytitle">我收藏的</span>
                            <span class="classifycount">3</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="classify-body">
                <div class="classify-header">
                    <span class="classifytitle" style="line-height: 30px;font-size: 18px;font-weight: 400">文章分类</span>
                    <span class="classifycount">共3篇</span>
                </div>
                <hr>
                <ul>
                    <li>
                        <a href="/profile/babymm/article">
                            <span class="classifytitle">hadoop大数据</span>
                            <span class="classifycount">3</span>
                        </a>
                    </li>
                    <li>
                        <a href="/profile/babymm/article">
                            <span class="classifytitle">java技术内幕</span>
                            <span class="classifycount">3</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="layout-right">
        <div class="article-body">
            <h2 style="font-size: 30px;font-weight: 400px;color: green;border-radius: 10%">我的文章</h2>
            <hr>
            <ul>
                #set($articles=[0 .. 4])
                #foreach($article in $articles)
                    <li>
                        <div class="articlecontent">
                            <span class="articletitle">Jenkins持续化部署</span>
                            <span class="articleediter">阅读 20 ·评论 0 ·赞 0 ·收藏 0 ·(<a href="">编辑</a> | <a href="">删除</a>)</span>
                            <span class="articlepublish">2017/06/19 发布</span>
                        </div>
                        <div class="articlelogo">
                            <a href="/profile/babymm/home"><img src="https://gw.alicdn.com/bao/uploaded/i4/69476562/TB2htq4XTka61BjSszfXXXN8pXa_!!69476562.jpg_400x400q90.jpg?t=1513063905068" width="100" height="100"></a>
                        </div>
                        <hr>
                    </li>
                #end
            </ul>
        </div>
        <div class="article-page" id="articlePage"></div>
    </div>
</div>
<div class="layout-bottom">
</div>
#parse("/portal/footer.vm")
</body>
<script type="text/javascript" src="${request.getContextPath()}/plugins/layui/layui.js" charset="utf-8"></script>
<script type="text/javascript" src="${request.getContextPath()}/plugins/jquery/jquery-3.1.0.min.js" charset="utf-8"></script>
<script type="text/javascript" src="${request.getContextPath()}/resources/common/js/common.js" charset="utf-8"></script>
<script type="text/javascript">
    layui.use(['element','laypage'], function () {
        var element = layui.element,laypage=layui.laypage;
        laypage.render({
            elem: 'articlePage'
            ,count: 120
            ,jump: function(obj){
                console.log(obj)
            }
        });
    });
</script>
</html>