<title>baby慕慕SNS个人博客-我的文章</title>
<link rel="stylesheet" href="${request.getContextPath()}/plugins/layui/css/layui.css" media="all">
<link rel="stylesheet" href="${request.getContextPath()}/plugins/font-awesome/css/font-awesome.min.css" media="all">
<link rel="stylesheet" href="${request.getContextPath()}/resources/profile/css/article/article.css" media="all">
#parse("/portal/header.vm")
<div class="layout-body">
    #parse("/profile/article/left.vm")
    <div class="layout-right">
        <div class="article-body">
            <h2 style="font-size: 30px;font-weight: 400px;color: green;border-radius: 10%">我的文章</h2>
            <hr>
            <ul>
                #set($articles=[0 .. 4])
                #foreach($article in $articles)
                    <li>
                        <div class="articlecontent">
                            <span class="articletitle">Jenkins持续化部署</span>
                            <span class="articleediter">阅读 20 ·评论 0 ·赞 0 ·收藏 0 ·(<a href="">编辑</a> | <a href="">删除</a>)</span>
                            <span class="articlepublish">2017/06/19 发布</span>
                        </div>
                        <div class="articlelogo">
                            <a href="/profile/babymm/home"><img src="https://gw.alicdn.com/bao/uploaded/i4/69476562/TB2htq4XTka61BjSszfXXXN8pXa_!!69476562.jpg_400x400q90.jpg?t=1513063905068" width="100" height="100"></a>
                        </div>
                        <hr>
                    </li>
                #end
            </ul>
        </div>
        <div class="article-page" id="articlePage"></div>
    </div>
</div>
<div class="layout-bottom">
</div>
#parse("/portal/sfooter.vm")
<script type="text/javascript" src="${request.getContextPath()}/plugins/layui/layui.js" charset="utf-8"></script>
<script type="text/javascript" src="${request.getContextPath()}/plugins/jquery/jquery-3.1.0.min.js" charset="utf-8"></script>
<script type="text/javascript" src="${request.getContextPath()}/resources/common/js/common.js" charset="utf-8"></script>
<script type="text/javascript">
    layui.use(['element','laypage'], function () {
        var element = layui.element,laypage=layui.laypage;
        laypage.render({
            elem: 'articlePage'
            ,count: 120
            ,jump: function(obj){
                console.log(obj)
            }
        });
    });
</script>