<title>baby慕慕SNS个人博客-我的动弹</title>
<link rel="stylesheet" href="${request.getContextPath()}/plugins/layui/css/layui.css" media="all">
<link rel="stylesheet" href="${request.getContextPath()}/plugins/font-awesome/css/font-awesome.min.css" media="all">
<link rel="stylesheet" href="${request.getContextPath()}/resources/profile/css/action/action.css" media="all">
#parse("/portal/header.vm")
<div class="layout-body">
    #parse("/profile/action/left.vm")
    <div class="layout-right">
        <div class="action-body">
            <h2 style="font-size: 30px;font-weight: 400px;color: green;border-radius: 10%">我的动弹</h2>
            <ul>
                #foreach($action in $!actionPageBean.recordList)
                    <li>
                        <div class="actioncontent">
                            <span class="actiontitle">
                                #if($operation=='vote')
                                    <span class="actiontype">赞</span>
                                #elseif($operation=='collect')
                                    <span class="actiontype">藏</span>
                                #elseif($action.actionType=='original')
                                    <span class="actiontype">原</span>
                                #elseif($action.actionType=='reprint')
                                    <span class="actiontype">转</span>
                                #end
                                $action.actionContent
                            </span>
                            <span class="actionediter">转发 $action.reprintCount ·评论 $action.commentCount ·赞 $action.voteCount ·收藏 $action.collectCount ·
                                #if($individuation==$MMSNS_COMMON_USER.individuation)
                                    #if($operation=='vote')
                                        (<a href="javascript:void(0)" onclick="cancleArticleVote('$!article.articleId')">取消赞</a>)
                                    #elseif($operation=='collect')
                                        (<a href="javascript:void(0)" onclick="cancleArticleCollect('$!article.articleId')">取消收藏</a>)
                                    #else
                                        ( <a href="javascript:void(0)" onclick="articleDelete('$!article.articleTitle','$!article.articleId')" class="articleDelete">删除</a>)
                                    #end
                                #end
                            </span>
                            <span class="actionpublish">$date.format("yyyy-MM-dd",$action.actionDate)</span>
                        </div>
                    </li>
                #end
            </ul>
        </div>
        <div class="action-page" id="actionPage"></div>
    </div>
</div>
#parse("/portal/sfooter.vm")
<script type="text/javascript" src="${request.getContextPath()}/plugins/layui/layui.js" charset="utf-8"></script>
<script type="text/javascript" src="${request.getContextPath()}/plugins/jquery/jquery-3.1.0.min.js" charset="utf-8"></script>
<script type="text/javascript" src="${request.getContextPath()}/resources/common/js/common.js" charset="utf-8"></script>
<script type="text/javascript">
    layui.use(['element','laypage'], function () {
        var element = layui.element,laypage=layui.laypage;
        laypage.render({
            elem: 'actionPage'
            ,count: 120
            ,jump: function(obj){
                console.log(obj)
            }
        });
    });
</script>