<div class="layout-left">
    <div class="action-classify">
        <div class="user-info">
            <span class="user-logo"><a href="/profile/$individuation/home"><img src="$VISIT_USER.avator" width="100" height="100" style="border-radius: 50%"></a></span>
            <span class="user-name"><a href="/profile/$individuation/home">$VISIT_USER.userName</a></span>
            <span class="user-words">共编写3456文字</span>
            <span class="user-writeaction"><a href="/profile/$individuation/action/publish">发动弹</a></span>
        </div>
        <div class="classify-body">
            <div class="classify-header">
                <span class="classifytitle" style="line-height: 30px;font-size: 18px;font-weight: 400">动弹类型</span>
                <span class="classifycount">共3类</span>
            </div>
            <hr>
            <ul>
                <li>
                    <a href="/profile/$individuation/action">
                        <span class="classifytitle">我发布的</span>
                        <span class="classifycount">3</span>
                    </a>
                </li>
                <li>
                    <a href="/profile/$individuation/action">
                        <span class="classifytitle">我转发的</span>
                        <span class="classifycount">3</span>
                    </a>
                </li>
                <li>
                    <a href="/profile/$individuation/action">
                        <span class="classifytitle">我点赞的</span>
                        <span class="classifycount">3</span>
                    </a>
                </li>
                <li>
                    <a href="/profile/$individuation/action">
                        <span class="classifytitle">我收藏的</span>
                        <span class="classifycount">3</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>