<title>文章分类-个人空间-MMSNS个人博客</title>
<link rel="stylesheet" href="${request.getContextPath()}/plugins/layui/css/layui.css" media="all">
<link rel="stylesheet" href="${request.getContextPath()}/plugins/font-awesome/css/font-awesome.min.css" media="all">
<link rel="stylesheet" href="${request.getContextPath()}/resources/admin/css/article/classify.css" media="all">
#parse("/portal/header.vm")
<div class="layout-body">
    #parse("/admin/left.vm")
    <div class="layout-right">
        <div class="right-content">
            <div class="right-header">
                <span>文章分类</span>
            </div>
            <div class="right-buttons">
                <a href="/admin/$individuation/article/classify/create"><span>创建文章分类<span></span></a>
            </div>
            <div class="right-articleclassifytable">
                <table class="layui-table" id="articleClassifyTable" lay-filter="articleClassifyTableFilter"></table>
                <script type="text/html" id="articleClassifyTableBar">
                    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
                    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
                    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
                </script>
            </div>
        </div>
    </div>
</div>
#parse("/portal/footer.vm")
<script type="text/javascript" src="${request.getContextPath()}/plugins/jquery/jquery-3.1.0.min.js" charset="utf-8"></script>
<script type="text/javascript" src="${request.getContextPath()}/plugins/layui/layui.js" charset="utf-8"></script>
<script type="text/javascript">
    layui.use(['element','table'], function () {
        var element = layui.element,table=layui.table;
        var page={
            layout: ['prev', 'page', 'next', 'skip']
        };
        table.render({
            elem: '#articleClassifyTable'
            ,url:'/admin/$individuation/article/classify/data'
            ,cellMinWidth: 80
            ,cols: [[
                {field:'categoryId', title: '分类ID',width:80}
                ,{field:'categoryOrder', title: '排序序号',width:90}
                ,{field:'categoryName',width:300, title: '分类名称'}
                ,{field:'articleCount',width:120, title: '文章数量',sort:true}
                ,{field:'categoryDesc', title: '分类描述'}
                ,{field:'categoryDate',width:170, title: '创建时间'}
                ,{field:'toolbar', title: '操作',width:170,align:'center',toolbar: '#articleClassifyTableBar'}
            ]]
            ,page:page
            ,skin: 'row'
        });
        table.on('tool(articleClassifyTableFilter)', function(obj){
            var data = obj.data;
            console.log(data);
            if(obj.event === 'detail'){
                window.location.href="/admin/$individuation/article/classify/view?categoryId="+data.categoryId;
            } else if(obj.event === 'del'){
                layer.confirm('你确定要删除文章分类['+data.categoryName+']吗？', function(index){
                    $.post("/admin/$individuation/article/classify/delete", {categoryId:data.categoryId,_method:'delete'}, function (respData) {
                        if(respData.code==200){
                            layer.msg('删除文章分类操作成功', {
                                icon: 1,
                                time: 2000
                            }, function () {
                                obj.del();
                                layer.close(index);
                            });
                        } else {
                            layer.alert(respData.data, {icon: 5});
                        }
                    })
                });
            } else if(obj.event === 'edit'){
                window.location.href="/admin/$individuation/article/classify/edit?categoryId="+data.categoryId;
            }
        });
    });
</script>
