<title>文章评论管理-个人设置中心-个人空间-MMSNS个人博客</title>
<link rel="stylesheet" href="${request.getContextPath()}/plugins/layui/css/layui.css" media="all">
<link rel="stylesheet" href="${request.getContextPath()}/resources/admin/css/article/comment.css" media="all">
#parse("/portal/header.vm")
<div class="layout-body">
    #parse("/admin/left.vm")
    <div class="layout-right">
        <div class="right-content">
            <div class="right-header">
                <span class="articleheader">
                    <span><a style="color: #4eaa4c;" href="">文章评论管理</a></span>
                </span>
            </div>
            <div class="right-main">
                <ul>
                    #foreach($articleComment in $articleCommentPageBean.recordList)
                        <li>
                            <div class="userlogo">
                                <a href="/profile/$articleComment.individuation/article"><img src="$articleComment.avator" width="60" height="60" style="border-radius: 50%"></a>
                            </div>
                            <div class="article">
                                <span class="articletitle"><a href="/article/detail/$!articleComment.articleId">$articleComment.articleTitle</a></span>
                                #if($!articleComment.commentType=='comment')
                                    <span class="articlecontent">评论: $!articleComment.commentContent</span>
                                #elseif($!articleComment.commentType=='reply')
                                    <span class="articlecontent">回复 $!articleComment.replyUserName: $articleComment.commentContent</span>
                                #end
                                <span class="articleextra">
                                    <span class="pubdate">$date.format('yyyy-MM-dd',$!articleComment.commentDate)</span>
                                    <span class="articlebuttons">
                                        <a class="articleCommentReply" onclick="articleCommentReply('$!articleComment.commentId','$!articleComment.userName')" href="javascript:void(0)">回复</a> |
                                        <a onclick="articleCommentDelete('$!articleComment.commentId')" href="javascript:void(0)">删除</a> </span>
                                </span>
                            </div>
                        </li>
                    #end
                </ul>
            </div>
            #if($articleCommentPageBean.totalPage>1)
                <div class="right-page">
                    <div class="userarticle-page" id="articleCommentPage"></div>
                </div>
            #end
        </div>
    </div>
</div>
#parse("/portal/footer.vm")
<script type="text/javascript" src="${request.getContextPath()}/plugins/layui/layui.js" charset="utf-8"></script>
<script type="text/javascript" src="${request.getContextPath()}/plugins/jquery/jquery-3.1.0.min.js" charset="utf-8"></script>
<script type="text/javascript">
    var articleCommentCount='$articleCommentPageBean.totalCount',articleCommentCurrentPage='$articleCommentPageBean.currentPage';
    var individuation='$!individuation';
    layui.use(['element','laypage','layer'], function () {
        var element = layui.element,laypage=layui.laypage,layer=layui.layer;
        laypage.render({
            elem: 'articleCommentPage'
            ,count: articleCommentCount
            ,limit:7
            ,curr:articleCommentCurrentPage
            ,jump: function(obj,first){
                if(!first){
                    window.location.href="/admin/"+individuation+"/article/comment?page="+obj.curr+"&limit="+obj.limit;
                }
            }
        });
    });
    //评论回复
    function articleCommentReply(commentId,userName) {
        layer.open({
            type: 2,
            closeBtn:true,
            shadeClose:true,
            scrollbar:true,
            title: false,
            closeBtn: 1,
            area: ['650px', '420px'],
            skin: 'layui-layer-nobg',
            shadeClose: false,
            content:['/article/comment/reply?commentId='+commentId+"&userName="+userName, 'no'],
            end:function () {
                window.location.reload();
            }
        });
    }
    //删除评论
    function articleCommentDelete(commentId,commentContent) {
        layer.confirm('你确定要删除该评论吗？',{icon:3,title:'警告'}, function(index){
            $.post("/admin/"+individuation+"/article/comment/delete", {commentId:commentId,_method:'delete'}, function (respData) {
                if(respData.code==200){
                    layer.msg('删除文章评论操作成功', {
                        icon: 1,
                        time: 2000
                    }, function () {
                        layer.close(index);
                        window.location.reload();
                    });
                } else {
                    layer.alert(respData.data, {icon: 5});
                }
            })
        });
    }
</script>