<div class="layout-left">
    <div class="photo-classify">
        <div class="user-info">
            <span class="user-logo"><a href="/profile/$individuation/home"><img src="$VISIT_USER.avator" width="100" height="100" style="border-radius: 50%"></a></span>
            <span class="user-name"><a href="/profile/$individuation/home">$VISIT_USER.userName</a></span>
            <span class="user-words">发布120个帖子</span>
            <span class="user-writephoto"><a href="/profile/$individuation/photo/upload">上传图库</a></span>
        </div>
        <div class="classify-body">
            <div class="classify-header">
                <span class="classifytitle" style="line-height: 30px;font-size: 18px;font-weight: 400">分类</span>
                <span class="classifycount">共6篇</span>
            </div>
            <hr>
            <ul>
                <li>
                    <a href="/profile/$individuation/photo">
                        <span class="classifytitle">我发布的</span>
                        <span class="classifycount">3</span>
                    </a>
                </li>
                <li>
                    <a href="/profile/$individuation/photo">
                        <span class="classifytitle">我收藏的</span>
                        <span class="classifycount">3</span>
                    </a>
                </li>
                <li>
                    <a href="/profile/$individuation/photo">
                        <span class="classifytitle">我点赞的</span>
                        <span class="classifycount">3</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="classify-body">
            <div class="classify-header">
                <span class="classifytitle" style="line-height: 30px;font-size: 18px;font-weight: 400">相册</span>
                <span class="classifycount">共2个</span>
            </div>
            <hr>
            <ul>
                <li>
                    <a href="/profile/$individuation/photo/album">
                        <span class="classifytitle">快乐一家人</span>
                        <span class="classifycount">3</span>
                    </a>
                </li>
                <li>
                    <a href="/profile/$individuation/photo/album">
                        <span class="classifytitle">柚子宝宝</span>
                        <span class="classifycount">3</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>