<title>baby慕慕SNS个人博客-我的图库</title>
<link rel="stylesheet" href="${request.getContextPath()}/plugins/layui/css/layui.css" media="all">
<link rel="stylesheet" href="${request.getContextPath()}/plugins/font-awesome/css/font-awesome.min.css" media="all">
<link rel="stylesheet" href="${request.getContextPath()}/resources/profile/css/photo/photo.css" media="all">
#parse("/portal/header.vm")
<div class="layout-body">
    #parse("/profile/photo/left.vm")
    <div class="layout-right">
        <div class="photo-body">
            <h2 style="font-size: 30px;font-weight: 400;color: green;border-radius: 10%">我的图库</h2>
            <hr>
            <ul>
                #set($photos=[0 .. 1])
                #foreach($photo in $photos)
                    <li>
                        <div class="photocontent">
                            <span class="phototitle">深入区分javascript中的作用域和执行环境</span>
                            <div class="site-demo-flow photoimg">
                                <img src="https://gw.alicdn.com/bao/uploaded/i2/701696736/TB2PNl5ahQa61Bjy0FhXXaalFXa_!!701696736.jpg_400x400q90.jpg?t=1513063905068">
                                <img src="https://gw.alicdn.com/bao/uploaded/i2/162734861/TB2V5rsX_gc61BjSZFkXXcTkFXa_!!162734861.jpg_400x400q90.jpg?t=1513063905068">
                                <img src="https://gw.alicdn.com/bao/uploaded/i4/69476562/TB2htq4XTka61BjSszfXXXN8pXa_!!69476562.jpg_400x400q90.jpg?t=1513063905068">
                                <img src="https://gw.alicdn.com/bao/uploaded/i4/69476562/TB2htq4XTka61BjSszfXXXN8pXa_!!69476562.jpg_400x400q90.jpg?t=1513063905068">
                                <img src="https://gw.alicdn.com/bao/uploaded/i4/69476562/TB2htq4XTka61BjSszfXXXN8pXa_!!69476562.jpg_400x400q90.jpg?t=1513063905068">
                                <img src="https://gw.alicdn.com/bao/uploaded/i4/69476562/TB2htq4XTka61BjSszfXXXN8pXa_!!69476562.jpg_400x400q90.jpg?t=1513063905068">
                            </div>
                            <span class="photoediter">阅读 20 ·评论 120 ·赞 0 ·收藏 0 ·(<a href="">编辑</a> | <a href="">删除</a>)</span>
                            <span class="photopublish">2017/06/19 创建</span>
                        </div>
                        <hr>
                    </li>
                #end
            </ul>
        </div>
        <div class="photo-page" id="photoPage"></div>
    </div>
</div>
#parse("/portal/sfooter.vm")
<script type="text/javascript" src="${request.getContextPath()}/plugins/layui/layui.js" charset="utf-8"></script>
<script type="text/javascript" src="${request.getContextPath()}/plugins/jquery/jquery-3.1.0.min.js" charset="utf-8"></script>
<script type="text/javascript">
    layui.use(['element','laypage'], function () {
        var element = layui.element,laypage=layui.laypage;
        laypage.render({
            elem: 'photoPage'
            ,count: 120
            ,jump: function(obj){
                console.log(obj)
            }
        });
    });
</script>