<title>baby慕慕SNS个人博客-上传图库</title>
<link rel="stylesheet" href="${request.getContextPath()}/plugins/layui/css/layui.css" media="all">
<link rel="stylesheet" href="${request.getContextPath()}/plugins/font-awesome/css/font-awesome.min.css" media="all">
<link rel="stylesheet" href="${request.getContextPath()}/resources/profile/css/photo/upload.css" media="all">
#parse("/portal/header.vm")
<div class="layout-body">
    #parse("/profile/photo/left.vm")
    <div class="layout-right">
        <div class="photo-body">
            <h2 style="font-size: 30px;font-weight: 400;color: green;border-radius: 10%">上传图库</h2>
            <hr>
            <div class="uploadform">
                <form class="layui-form" style="width: 100%;float: left;">
                    <div class="layui-form-item" style="width: 100%;float: left;">
                        <label class="layui-form-label" style="float: left;width: 60px;text-align: left">标题</label>
                        <div class="layui-input-inline photo-title">
                            <input type="text" name="title" lay-verify="title" autocomplete="off" placeholder="请输入标题" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item" style="width: 100%;float: left;">
                        <label class="layui-form-label" style="float: left;width: 60px;text-align: left">相册</label>
                        <div class="layui-input-inline"  style="float: left;width: 400px">
                            <select name="interest" lay-filter="aihao">
                                <option value="0">快乐一家人</option>
                                <option value="2">柚子宝宝</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-form-item" style="width: 100px;float: left;">
                        <div class="layui-input-inline photo-title">
                            <input type="button" class="layui-btn" id="photoUpload" name="title" lay-verify="title" autocomplete="off" value="上传图片" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item" style="width: 100%;float: left;">
                        <div class="layui-upload-list" id="photoUploadList"></div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
                            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
#parse("/portal/sfooter.vm")
<script type="text/javascript" src="${request.getContextPath()}/plugins/jquery/jquery-3.1.0.min.js" charset="utf-8"></script>
<script type="text/javascript" src="${request.getContextPath()}/plugins/layui/layui.js" charset="utf-8"></script>
<script type="text/javascript">
    layui.use(['element','form','upload'], function () {
        var element = layui.element,form=layui.form,upload=layui.upload;
        upload.render({
            elem: '#photoUpload'
            ,url: '/common/upload/layedit'
            ,multiple: true
            ,before: function(obj){
                obj.preview(function(index, file, result){
                    $('#photoUploadList').append('<img src="'+ result +'" alt="'+ file.name +'" class="layui-upload-img">')
                });
            }
            ,done: function(res){
                console.log(res);
            }
        });
    });
</script>