<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--配置全局属性 -->
    <settings>
        <!-- 开启全局缓存 -->
        <setting name="cacheEnabled" value="true"/>
        <!--使用jdbc的getGeneratekeys获取自增主键值 -->
        <setting name="useGeneratedKeys" value="true"/>
        <!--使用列别名替换别名 默认true -->
        <setting name="useColumnLabel" value="true"/>
        <!--开启驼峰命名转换Table:create_time到 Entity(createTime) -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <!-- 配置方言 -->
    <typeAliases>
        <!-- 数据字典 -->
        <typeAlias type="com.lovecws.mumu.mmsns.common.ddl.entity.MMSnsCommonDDLAreaEntity"
                   alias="MMSnsCommonDDLAreaEntity"/>
        <typeAlias type="com.lovecws.mumu.mmsns.common.ddl.entity.MMSnsCommonDDLBankEntity"
                   alias="MMSnsCommonDDLBankEntity"/>
        <typeAlias type="com.lovecws.mumu.mmsns.common.ddl.entity.MMSnsCommonDDLCityEntity"
                   alias="MMSnsCommonDDLCityEntity"/>
        <typeAlias type="com.lovecws.mumu.mmsns.common.ddl.entity.MMSnsCommonDDLIPAddressEntity"
                   alias="MMSnsCommonDDLIPAddressEntity"/>
        <typeAlias type="com.lovecws.mumu.mmsns.common.ddl.entity.MMSnsCommonDDLProvinceEntity"
                   alias="MMSnsCommonDDLProvinceEntity"/>

        <!-- 用户个人中心 -->
        <typeAlias type="com.lovecws.mumu.mmsns.common.user.entity.MMSnsCommonUserEntity"
                   alias="MMSnsCommonUserEntity"/>
    </typeAliases>

    <!-- 设置mybatis拦截器 -->
    <!--<plugins>
        <plugin interceptor="com.lovecws.mumu.core.dao.mdatasource.MultipleMybatisInteInterceptor"/>
    </plugins>-->

    <!-- 配置映射文件 -->
    <mappers>
        <!-- 数据字典 -->
        <mapper resource="mybatis/mapper/ddl/MMSnsCommonDDLAreaMapper.xml"/>
        <mapper resource="mybatis/mapper/ddl/MMSnsCommonDDLBankMapper.xml"/>
        <mapper resource="mybatis/mapper/ddl/MMSnsCommonDDLCityMapper.xml"/>
        <mapper resource="mybatis/mapper/ddl/MMSnsCommonDDLIPAddressMapper.xml"/>
        <mapper resource="mybatis/mapper/ddl/MMSnsCommonDDLProvinceMapper.xml"/>

        <!-- 用户个人中心 -->
        <mapper resource="mybatis/mapper/user/MMSnsCommonUserMapper.xml"/>
    </mappers>
</configuration>