<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiaomoc.elebill.common.bill.dao.impl.ElebillCommonBillQuoteDaoImpl">
    <resultMap id="ElebillCommonBillQuoteResultMap"
               type="com.xiaomoc.elebill.common.bill.entity.ElebillCommonBillQuoteEntity">

        <id column="quote_id" property="quoteId" jdbcType="INTEGER"/>
        <result column="quote_no" property="quoteNo" jdbcType="VARCHAR"/>
        <result column="quote_status" property="quoteStatus" jdbcType="VARCHAR"/>
        <result column="create_date" property="createDate" jdbcType="DATE"/>

        <result column="quote_rate" property="quoteRate" jdbcType="FLOAT"/>
        <result column="quote_increment" property="quoteIncrement" jdbcType="FLOAT"/>
        <result column="quote_discount_amount" property="quoteDiscountAmount" jdbcType="FLOAT"/>
        <result column="quote_amount" property="quoteAmount" jdbcType="FLOAT"/>
        <result column="quote_desc" property="quoteDesc" jdbcType="VARCHAR"/>

        <result column="bill_id" property="billId" jdbcType="INTEGER"/>
        <result column="user_id" property="userId" jdbcType="INTEGER"/>

        <result column="bill_classify" property="billClassify" jdbcType="VARCHAR"/>
        <result column="bill_trade_type" property="billTradeType" jdbcType="VARCHAR"/>
        <result column="bill_accept_org" property="billAcceptOrg" jdbcType="VARCHAR"/>
        <result column="bill_money" property="billMoney" jdbcType="VARCHAR"/>
        <result column="bill_create_date" property="billCreateDate" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="ElebillCommonBillQuoteColumn">
		quote_id, quote_no, quote_status, create_date, quote_rate, quote_increment,quote_discount_amount,quote_amount,quote_desc,bill_id,user_id
	</sql>

    <!-- 获取票据竞价数量 -->
    <select id="listPageCount" resultType="long" parameterType="map">
        select count(quote_id)
        from ec_bill_quote
        <where>
            <if test="userId!=null and userId!=''">
                and user_id=#{userId}
            </if>
            <if test="quoteStatus!=null and quoteStatus!=''">
                and quote_status=#{quoteStatus}
            </if>
        </where>
    </select>

    <!-- 分页获取票据竞价 -->
    <select id="listPage" resultMap="ElebillCommonBillQuoteResultMap" parameterType="map">
        select
        b.bill_id bill_id,b.bill_classify bill_classify,b.bill_trade_type bill_trade_type,b.bill_accept_org bill_accept_org,b.bill_money bill_money,b.create_date bill_create_date,
        q.quote_rate quote_rate,q.quote_increment quote_increment,q.quote_discount_amount quote_discount_amount,q.quote_amount quote_amount,q.quote_no quote_no,q.quote_status quoteStatus,q.create_date create_date
        from ec_bill_quote q
        INNER JOIN ec_bill b ON (b.bill_id=q.bill_id)
        <where>
            <if test="userId!=null and userId!=''">
                and q.user_id=#{userId}
            </if>
            <if test="quoteStatus!=null and quoteStatus!=''">
                and q.quote_status=#{quoteStatus}
            </if>
        </where>
        ORDER BY q.create_date DESC
        <if test="beginIndex!=null and numPerPage!=null">
            limit #{beginIndex},#{numPerPage}
        </if>
    </select>

    <!-- 按照条件获取票据竞价 -->
    <select id="listByColumn" resultMap="ElebillCommonBillQuoteResultMap" parameterType="map">
        select
        <include refid="ElebillCommonBillQuoteColumn"/>
        from ec_bill_quote
    </select>

    <!-- 获取票据竞价详情信息-->
    <select id="selectByPrimaryKey" resultMap="ElebillCommonBillQuoteResultMap" parameterType="java.lang.String">
        select
        <include refid="ElebillCommonBillQuoteColumn"/>
        from ec_bill_quote
        where quote_id=#{quoteId}
    </select>

    <!-- 添加票据竞价信息 -->
    <insert id="insert" parameterType="ElebillCommonBillQuoteEntity" useGeneratedKeys="true"
            keyProperty="quoteId">
        insert into ec_bill_quote
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="quoteNo!=null">
                quote_no,
            </if>
            <if test="quoteStatus!=null">
                quote_status,
            </if>
            <if test="createDate!=null">
                create_date,
            </if>
            <if test="quoteRate!=null">
                quote_rate,
            </if>
            <if test="quoteIncrement!=null">
                quote_increment,
            </if>
            <if test="quoteDiscountAmount!=null">
                quote_discount_amount,
            </if>
            <if test="quoteAmount!=null">
                quote_amount,
            </if>
            <if test="quoteDesc!=null">
                quote_desc,
            </if>
            <if test="billId!=null">
                bill_id,
            </if>
            <if test="userId!=null">
                user_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="quoteNo!=null">
                #{quoteNo},
            </if>
            <if test="quoteStatus!=null">
                #{quoteStatus},
            </if>
            <if test="createDate!=null">
                #{createDate},
            </if>
            <if test="quoteRate!=null">
                #{quoteRate},
            </if>
            <if test="quoteIncrement!=null">
                #{quoteIncrement},
            </if>
            <if test="quoteDiscountAmount!=null">
                #{quoteDiscountAmount},
            </if>
            <if test="quoteAmount!=null">
                #{quoteAmount},
            </if>
            <if test="quoteDesc!=null">
                #{quoteDesc},
            </if>
            <if test="billId!=null">
                #{billId},
            </if>
            <if test="userId!=null">
                #{userId},
            </if>
        </trim>
    </insert>

    <!-- 更新票据竞价信息 -->
    <update id="updateByPrimaryKey" parameterType="ElebillCommonBillQuoteEntity">
        update ec_bill_quote
        <set>
            <if test="quoteNo!=null">
                quote_no=#{quoteNo},
            </if>
            <if test="quoteStatus!=null">
                quote_status=#{quoteStatus},
            </if>
            <if test="createDate!=null">
                create_date=#{createDate},
            </if>
            <if test="quoteRate!=null and quoteRate!=0">
                quote_rate=#{quoteRate},
            </if>
            <if test="quoteIncrement!=null and quoteIncrement!=0">
                quote_increment=#{quoteIncrement},
            </if>
            <if test="quoteDiscountAmount!=null and quoteDiscountAmount!=0">
                quote_discount_amount=#{quoteDiscountAmount},
            </if>
            <if test="quoteAmount!=null and quoteAmount!=0">
                quote_amount=#{quoteAmount},
            </if>
            <if test="quoteDesc!=null">
                quote_desc=#{quoteDesc},
            </if>
            <if test="billId!=null">
                bill_id=#{billId},
            </if>
            <if test="userId!=null">
                user_id=#{userId},
            </if>
        </set>
        <where>
            <if test="quoteId!=null">
                quote_id=#{quoteId}
            </if>
        </where>
    </update>

    <!-- 根据id删除票据竞价 -->
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete
        from ec_bill_quote
        where quote_id=#{quoteId}
    </delete>
</mapper>