<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiaomoc.elebill.common.bill.dao.impl.ElebillCommonBillDaoImpl">
    <resultMap id="ElebillCommonBillResultMap"
               type="com.xiaomoc.elebill.common.bill.entity.ElebillCommonBillEntity">

        <id column="bill_id" property="billId" jdbcType="INTEGER"/>
        <result column="bill_status" property="billStatus" jdbcType="VARCHAR"/>
        <result column="bill_type" property="billType" jdbcType="VARCHAR"/>
        <result column="create_date" property="createDate" jdbcType="DATE"/>

        <result column="bill_category_id" property="billCategoryId" jdbcType="INTEGER"/>
        <result column="bill_category_name" property="billCategoryName" jdbcType="VARCHAR"/>

        <result column="bill_trade_type" property="billTradeType" jdbcType="VARCHAR"/>
        <result column="bill_trade_area" property="billTradeArea" jdbcType="VARCHAR"/>
        <result column="bill_accept_org" property="billAcceptOrg" jdbcType="VARCHAR"/>
        <result column="bill_user_name" property="billUserName" jdbcType="VARCHAR"/>
        <result column="bill_feature" property="billFeature" jdbcType="VARCHAR"/>

        <result column="bill_no" property="billNo" jdbcType="VARCHAR"/>
        <result column="bill_classify" property="billClassify" jdbcType="VARCHAR"/>
        <result column="bill_sstatus" property="billSStatus" jdbcType="VARCHAR"/>
        <result column="bill_company" property="billCompany" jdbcType="VARCHAR"/>
        <result column="bill_bank" property="billBank" jdbcType="VARCHAR"/>
        <result column="bill_money" property="billMoney" jdbcType="VARCHAR"/>
        <result column="bill_expire" property="billExpire" jdbcType="VARCHAR"/>
        <result column="bill_endorse" property="billEndorse" jdbcType="VARCHAR"/>
        <result column="bill_position" property="billPosition" jdbcType="VARCHAR"/>

        <result column="bill_img" property="billImg" jdbcType="VARCHAR"/>
        <result column="bill_img_health" property="billImgHealth" jdbcType="VARCHAR"/>
        <result column="bill_endorse_img" property="billEndorseImg" jdbcType="VARCHAR"/>
        <result column="bill_evidence" property="billEvidence" jdbcType="VARCHAR"/>

        <result column="bill_rate" property="billRate" jdbcType="FLOAT"/>
        <result column="bill_increment" property="billIncrement" jdbcType="FLOAT"/>
        <result column="bill_discount_amount" property="billDiscountAmount" jdbcType="FLOAT"/>
        <result column="bill_desc" property="billDesc" jdbcType="VARCHAR"/>

        <result column="bill_quote_count" property="billQuoteCount" jdbcType="INTEGER"/>
        <result column="user_id" property="userId" jdbcType="INTEGER"/>
    </resultMap>
    <sql id="ElebillCommonBillColumn">
		bill_id, bill_status, bill_type, create_date,
		bill_category_id, bill_category_name,
		bill_trade_type,bill_trade_area,bill_accept_org,bill_user_name,bill_feature,
		bill_no,bill_classify,bill_sstatus,bill_company,bill_bank,bill_money,bill_expire,bill_endorse,bill_position,
		bill_img,bill_img_health,bill_endorse_img,bill_evidence,
		bill_rate,bill_increment,bill_discount_amount,bill_desc,bill_quote_count,user_id
	</sql>

    <!-- 获取票据数量 -->
    <select id="listPageCount" resultType="long" parameterType="map">
        select count(bill_id)
        from ec_bill
        <where>
            <if test="billType!=null and billType!=''">
                and bill_type=#{billType}
            </if>
            <if test="billMoneyMin!=null and billMoneyMax!=null">
                and bill_money BETWEEN #{billMoneyMin} AND #{billMoneyMax}
            </if>
            <if test="billClassify!=null and billClassify!=''">
                and bill_classify=#{billClassify}
            </if>
            <if test="billTradeType!=null and billTradeType!=''">
                and bill_trade_type=#{billTradeType}
            </if>
            <if test="billStatus!=null and billStatus!=''">
                and bill_status=#{billStatus}
            </if>
            <if test="billAcceptOrg!=null and billAcceptOrg!=''">
                and bill_accept_org=#{billAcceptOrg}
            </if>
            <if test="billFeature!=null and billFeature!=''">
                and bill_feature=#{billFeature}
            </if>
            <if test="billTradeArea!=null and billTradeArea!=''">
                and bill_trade_area=#{billTradeArea}
            </if>
            <if test="userId!=null and userId!=''">
                and user_id=#{userId}
            </if>
        </where>
    </select>

    <!-- 分页获取票据 -->
    <select id="listPage" resultMap="ElebillCommonBillResultMap" parameterType="map">
        select
        <include refid="ElebillCommonBillColumn"/>
        from ec_bill
        <where>
            <if test="billType!=null and billType!=''">
                and bill_type=#{billType}
            </if>
            <if test="billMoneyMin!=null and billMoneyMax!=null">
                and bill_money BETWEEN #{billMoneyMin} AND #{billMoneyMax}
            </if>
            <if test="billClassify!=null and billClassify!=''">
                and bill_classify=#{billClassify}
            </if>
            <if test="billTradeType!=null and billTradeType!=''">
                and bill_trade_type=#{billTradeType}
            </if>
            <if test="billStatus!=null and billStatus!=''">
                and bill_status=#{billStatus}
            </if>
            <if test="billAcceptOrg!=null and billAcceptOrg!=''">
                and bill_accept_org=#{billAcceptOrg}
            </if>
            <if test="billFeature!=null and billFeature!=''">
                and bill_feature=#{billFeature}
            </if>
            <if test="billTradeArea!=null and billTradeArea!=''">
                and bill_trade_area=#{billTradeArea}
            </if>
            <if test="userId!=null and userId!=''">
                and user_id=#{userId}
            </if>
        </where>
        ORDER BY bill_quote_count DESC
        <if test="beginIndex!=null and numPerPage!=null">
            limit #{beginIndex},#{numPerPage}
        </if>
    </select>

    <!-- 按照条件获取票据 -->
    <select id="listByColumn" resultMap="ElebillCommonBillResultMap" parameterType="map">
        select
        <include refid="ElebillCommonBillColumn"/>
        from ec_bill
    </select>

    <!-- 获取票据详情信息-->
    <select id="selectByPrimaryKey" resultMap="ElebillCommonBillResultMap" parameterType="java.lang.String">
        select
        <include refid="ElebillCommonBillColumn"/>
        from ec_bill
        where bill_id=#{billId}
    </select>

    <!-- 添加票据信息 -->
    <insert id="insert" parameterType="ElebillCommonBillEntity" useGeneratedKeys="true"
            keyProperty="billId">
        insert into ec_bill
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="billStatus!=null">
                bill_status,
            </if>
            <if test="billType!=null">
                bill_type,
            </if>
            <if test="createDate!=null">
                create_date,
            </if>
            <if test="billCategoryId!=null">
                bill_category_id,
            </if>
            <if test="billCategoryName!=null">
                bill_category_name,
            </if>
            <if test="billTradeType!=null">
                bill_trade_type,
            </if>
            <if test="billTradeArea!=null">
                bill_trade_area,
            </if>
            <if test="billAcceptOrg!=null">
                bill_accept_org,
            </if>
            <if test="billUserName!=null">
                bill_user_name,
            </if>
            <if test="billFeature!=null">
                bill_feature,
            </if>
            <if test="billNo!=null">
                bill_no,
            </if>
            <if test="billClassify!=null">
                bill_classify,
            </if>
            <if test="billSStatus!=null">
                bill_sstatus,
            </if>
            <if test="billCompany!=null">
                bill_company,
            </if>
            <if test="billBank!=null">
                bill_bank,
            </if>
            <if test="billMoney!=null">
                bill_money,
            </if>
            <if test="billExpire!=null">
                bill_expire,
            </if>
            <if test="billEndorse!=null">
                bill_endorse,
            </if>
            <if test="billPosition!=null">
                bill_position,
            </if>
            <if test="billImg!=null">
                bill_img,
            </if>
            <if test="billImgHealth!=null">
                bill_img_health,
            </if>
            <if test="billEndorseImg!=null">
                bill_endorse_img,
            </if>
            <if test="billEvidence!=null">
                bill_evidence,
            </if>
            <if test="billRate!=null">
                bill_rate,
            </if>
            <if test="billIncrement!=null">
                bill_increment,
            </if>
            <if test="billDiscountAmount!=null">
                bill_discount_amount,
            </if>
            <if test="billDesc!=null">
                bill_desc,
            </if>
            <if test="billQuoteCount!=null">
                bill_quote_count,
            </if>
            <if test="userId!=null">
                user_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="billStatus!=null">
                #{billStatus},
            </if>
            <if test="billType!=null">
                #{billType},
            </if>
            <if test="createDate!=null">
                #{createDate},
            </if>
            <if test="billCategoryId!=null">
                #{billCategoryId},
            </if>
            <if test="billCategoryName!=null">
                #{billCategoryName},
            </if>
            <if test="billTradeType!=null">
                #{billTradeType},
            </if>
            <if test="billTradeArea!=null">
                #{billTradeArea},
            </if>
            <if test="billAcceptOrg!=null">
                #{billAcceptOrg},
            </if>
            <if test="billUserName!=null">
                #{billUserName},
            </if>
            <if test="billFeature!=null">
                #{billFeature},
            </if>
            <if test="billNo!=null">
                #{billNo},
            </if>
            <if test="billClassify!=null">
                #{billClassify},
            </if>
            <if test="billSStatus!=null">
                #{billSStatus},
            </if>
            <if test="billCompany!=null">
                #{billCompany},
            </if>
            <if test="billBank!=null">
                #{billBank},
            </if>
            <if test="billMoney!=null">
                #{billMoney},
            </if>
            <if test="billExpire!=null">
                #{billExpire},
            </if>
            <if test="billEndorse!=null">
                #{billEndorse},
            </if>
            <if test="billPosition!=null">
                #{billPosition},
            </if>
            <if test="billImg!=null">
                #{billImg},
            </if>
            <if test="billImgHealth!=null">
                #{billImgHealth},
            </if>
            <if test="billEndorseImg!=null">
                #{billEndorseImg},
            </if>
            <if test="billEvidence!=null">
                #{billEvidence},
            </if>
            <if test="billRate!=null">
                #{billRate},
            </if>
            <if test="billIncrement!=null">
                #{billIncrement},
            </if>
            <if test="billDiscountAmount!=null">
                #{billDiscountAmount},
            </if>
            <if test="billDesc!=null">
                #{billDesc},
            </if>
            <if test="billQuoteCount!=null">
                #{billQuoteCount},
            </if>
            <if test="userId!=null">
                #{userId},
            </if>
        </trim>
    </insert>

    <!-- 更新票据信息 -->
    <update id="updateByPrimaryKey" parameterType="ElebillCommonBillEntity">
        update ec_bill
        <set>
            <if test="billStatus!=null">
                bill_status=#{billStatus},
            </if>
            <if test="billType!=null">
                bill_type=#{billType},
            </if>
            <if test="createDate!=null">
                create_date=#{createDate},
            </if>
            <if test="billCategoryId!=null">
                bill_category_id=#{billCategoryId},
            </if>
            <if test="billCategoryName!=null">
                bill_category_name=#{billCategoryName},
            </if>
            <if test="billTradeType!=null">
                bill_trade_type=#{billTradeType},
            </if>
            <if test="billTradeArea!=null">
                bill_trade_area=#{billTradeArea},
            </if>
            <if test="billAcceptOrg!=null">
                bill_accept_org=#{billAcceptOrg},
            </if>
            <if test="billUserName!=null">
                bill_user_name=#{billUserName},
            </if>
            <if test="billFeature!=null">
                bill_feature=#{billFeature},
            </if>
            <if test="billNo!=null">
                bill_no=#{billNo},
            </if>
            <if test="billClassify!=null">
                bill_classify=#{billClassify},
            </if>
            <if test="billSStatus!=null">
                bill_sstatus=#{billSStatus},
            </if>
            <if test="billCompany!=null">
                bill_company=#{billCompany},
            </if>
            <if test="billBank!=null">
                bill_bank=#{billBank},
            </if>
            <if test="billMoney!=null and billMoney!=0">
                bill_money=#{billMoney},
            </if>
            <if test="billExpire!=null">
                bill_expire=#{billExpire},
            </if>
            <if test="billEndorse!=null">
                bill_endorse=#{billEndorse},
            </if>
            <if test="billPosition!=null">
                bill_position=#{billPosition},
            </if>
            <if test="billImg!=null">
                bill_img=#{billImg},
            </if>
            <if test="billImgHealth!=null">
                bill_img_health=#{billImgHealth},
            </if>
            <if test="billEndorseImg!=null">
                bill_endorse_img=#{billEndorseImg},
            </if>
            <if test="billEvidence!=null">
                bill_evidence=#{billEvidence},
            </if>
            <if test="billRate!=null and billRate!=0">
                bill_rate=#{billRate},
            </if>
            <if test="billIncrement!=null and billIncrement!=0">
                bill_increment=#{billIncrement},
            </if>
            <if test="billDiscountAmount!=null and billDiscountAmount!=0">
                bill_discount_amount=#{billDiscountAmount},
            </if>
            <if test="billDesc!=null">
                bill_desc=#{billDesc},
            </if>
            <if test="billQuoteCount!=null and billQuoteCount!=0">
                bill_quote_count=bill_quote_count + #{billQuoteCount},
            </if>
            <if test="userId!=null">
                user_id=#{userId},
            </if>
        </set>
        <where>
            <if test="billId!=null">
                bill_id=#{billId}
            </if>
        </where>
    </update>

    <!-- 根据id删除票据 -->
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete
        from ec_bill
        where bill_id=#{billId}
    </delete>
</mapper>