<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lovecws.mumu.mmsns.article.dao.impl.MMSnsArticleDaoImpl">
    <resultMap id="MMSnsArticleResultMap"
               type="com.lovecws.mumu.mmsns.article.entity.MMSnsArticleEntity">

        <id column="article_id" property="articleId" jdbcType="INTEGER"/>
        <result column="article_status" property="articleStatus" jdbcType="VARCHAR"/>
        <result column="article_date" property="articleDate" jdbcType="VARCHAR"/>

        <result column="article_title" property="articleTitle" jdbcType="VARCHAR"/>
        <result column="article_sumary" property="articleSumary" jdbcType="VARCHAR"/>
        <result column="article_content" property="articleContent" jdbcType="VARCHAR"/>
        <result column="article_logo" property="articleLogo" jdbcType="VARCHAR"/>
        <result column="article_labels" property="articleLabels" jdbcType="VARCHAR"/>
        <result column="word_count" property="wordCount" jdbcType="INTEGER"/>

        <result column="sys_category_id" property="sysCategoryId" jdbcType="INTEGER"/>
        <result column="user_category_id" property="userCategoryId" jdbcType="INTEGER"/>

        <result column="read_count" property="readCount" jdbcType="INTEGER"/>
        <result column="collect_count" property="collectCount" jdbcType="INTEGER"/>
        <result column="vote_count" property="voteCount" jdbcType="INTEGER"/>
        <result column="relay_count" property="relayCount" jdbcType="INTEGER"/>
        <result column="comment_count" property="commentCount" jdbcType="INTEGER"/>

        <result column="article_type" property="articleType" jdbcType="VARCHAR"/>
        <result column="user_id" property="userId" jdbcType="INTEGER"/>

        <result column="article_count" property="articleCount" jdbcType="INTEGER"/>
        <result column="category_name" property="categoryName" jdbcType="INTEGER"/>
        <result column="category_id" property="categoryId" jdbcType="INTEGER"/>

        <result column="user_name" property="userName" jdbcType="INTEGER"/>
        <result column="company" property="company" jdbcType="INTEGER"/>
        <result column="positional" property="positional" jdbcType="INTEGER"/>
        <result column="individuation" property="individuation" jdbcType="INTEGER"/>
        <result column="user_fans_count" property="userFansCount" jdbcType="INTEGER"/>
        <result column="user_score" property="userScore" jdbcType="INTEGER"/>
        <result column="user_access_count" property="userAccessCount" jdbcType="INTEGER"/>
        <result column="avator" property="avator" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="MMSnsArticleColumn">
		article_id,article_status,article_date,article_title,article_sumary,article_content,article_logo,article_labels,word_count,sys_category_id,user_category_id,read_count,collect_count,vote_count,relay_count,comment_count,article_type,user_id
	</sql>

    <!-- 获取文章数量 -->
    <select id="listPageCount" resultType="long" parameterType="map">
        select count(article_id)
        from mb_article
        <where>
            <if test="userId!=null and userId!=''">
                and user_id=#{userId}
            </if>
            <if test="articleType!=null and articleType!=''">
                and article_type=#{articleType}
            </if>
            <if test="userCategoryId!=null and userCategoryId!=''">
                and user_category_id=#{userCategoryId}
            </if>
            <if test="articleStatus!=null and articleStatus!=''">
                and article_status=#{articleStatus}
            </if>
        </where>
    </select>

    <!-- 分页获取文章 -->
    <select id="listPage" resultMap="MMSnsArticleResultMap" parameterType="map">
        select
        article_id,article_title,article_logo,read_count,collect_count,vote_count,relay_count,comment_count,article_date,article_type
        from mb_article
        <where>
            <if test="userId!=null and userId!=''">
                and user_id=#{userId}
            </if>
            <if test="articleType!=null and articleType!=''">
                and article_type=#{articleType}
            </if>
            <if test="userCategoryId!=null and userCategoryId!=''">
                and user_category_id=#{userCategoryId}
            </if>
            <if test="sysCategoryId!=null and sysCategoryId!=''">
                and sys_category_id=#{sysCategoryId}
            </if>
            <if test="articleStatus!=null and articleStatus!=''">
                and article_status=#{articleStatus}
            </if>
            <if test="articleLogo!=null and articleLogo!=''">
                and article_logo IS NOT NULL
            </if>
        </where>
        <if test="orderby!=null">
            ORDER BY ${orderby} DESC
        </if>
        <if test="beginIndex!=null and numPerPage!=null">
            limit #{beginIndex},#{numPerPage}
        </if>
    </select>

    <!-- 分页获取文章列表 同时附带作者信息-->
    <select id="selectArticlePageWithAuthorMessage" resultMap="MMSnsArticleResultMap" parameterType="map">
        select
        a.article_id,a.article_title,a.article_sumary,a.article_labels,a.article_type,a.read_count,a.collect_count,a.vote_count,a.relay_count,a.comment_count,a.article_date,a.user_id,a.word_count,
        u.user_name,u.individuation,u.avator,u.company,u.positional
        from mb_article a
        INNER JOIN mc_user u on(u.user_id=a.user_id)
        <where>
            <if test="articleType!=null and articleType!=''">
                and a.article_type=#{articleType}
            </if>
            <if test="sysCategoryId!=null and sysCategoryId!=''">
                and a.sys_category_id=#{sysCategoryId}
            </if>
            <if test="articleStatus!=null and articleStatus!=''">
                and a.article_status=#{articleStatus}
            </if>
            <if test="articleLogo!=null and articleLogo!=''">
                and a.article_logo IS NOT NULL
            </if>
            <if test="startDate!=null and startDate!='' and endDate!=null and endDate!=''">
                and a.article_date BETWEEN #{startDate} AND #{endDate}
            </if>
        </where>
        <if test="orderby!=null">
            ORDER BY ${orderby} DESC
        </if>
        <if test="beginIndex!=null and numPerPage!=null">
            limit #{beginIndex},#{numPerPage}
        </if>
    </select>

    <!-- 获取用户下按照文章类型分组的文章数量 和文章字数数量-->
    <select id="groupArticleCountByUserId" resultMap="MMSnsArticleResultMap" parameterType="map">
        select article_type,count(article_id) article_count,sum(word_count) word_count
        from mb_article
        <where>
            <if test="userId!=null and userId!=''">
                and user_id=#{userId}
            </if>
            <if test="articleStatus!=null and articleStatus!=''">
                and article_status=#{articleStatus}
            </if>
        </where>
        GROUP BY article_type
    </select>

    <!-- 获取用户下原创文章中 各个用户分类下的文章数量 -->
    <select id="groupArticleCountByCategory" resultMap="MMSnsArticleResultMap" parameterType="map">
        select ac.category_name,ac.category_id,count(article_id) article_count
        from mb_article_category ac
        LEFT JOIN mb_article a on(ac.category_id=a.user_category_id and a.user_id=#{userId} and a.article_type=#{articleType} and a.article_status=#{articleStatus})
        WHERE ac.user_id=#{categoryUserId} and ac.category_status=#{categoryStatus}
        GROUP BY ac.category_id
        ORDER BY ac.category_order ASC
    </select>

    <!-- 按照条件获取文章 -->
    <select id="listByColumn" resultMap="MMSnsArticleResultMap" parameterType="map">
        select
        <include refid="MMSnsArticleColumn"/>
        from mb_article
    </select>

    <!-- 获取文章详情信息-->
    <select id="selectByPrimaryKey" resultMap="MMSnsArticleResultMap" parameterType="java.lang.String">
        select
        a.article_id,a.article_title,a.article_sumary,a.article_content,a.article_labels,a.article_type,a.read_count,a.collect_count,a.vote_count,a.relay_count,a.comment_count,a.article_date,a.user_id,a.word_count,a.user_category_id,
        ac.category_name,
        u.user_name,u.individuation,u.user_fans_count,u.user_score,u.user_access_count,u.avator,u.company,u.positional
        from mb_article a
        INNER JOIN mb_article_category ac on(ac.category_id=a.user_category_id)
        INNER JOIN mc_user u on(u.user_id=a.user_id)
        where a.article_id=#{articleId}
    </select>

    <select id="getBatchArticleById" resultMap="MMSnsArticleResultMap" parameterType="map">
        select
        <include refid="MMSnsArticleColumn"/>
        from mb_article
        where article_id IN
        <foreach collection="articleIds" index="index" item="articleId" open="(" close=")" separator=",">
            #{articleId}
        </foreach>
    </select>

    <!-- 获取文章基本详情信息-->
    <select id="getByColumn" resultMap="MMSnsArticleResultMap" parameterType="map">
        select
        <include refid="MMSnsArticleColumn"/>
        from mb_article
        where article_id=#{articleId}
    </select>

    <!-- 获取最受欢迎的用户-->
    <select id="getPopularArticleAuthorMessage" resultMap="MMSnsArticleResultMap" parameterType="map">
        select u.user_name,u.individuation,u.avator,u.company,u.positional,sum(read_count) total_count
        from mb_article a
        INNER JOIN mc_user u on(u.user_id=a.user_id)
        GROUP BY a.user_id
        ORDER BY total_count DESC
        <if test="beginIndex!=null and numPerPage!=null">
            limit #{beginIndex},#{numPerPage}
        </if>
    </select>

    <!-- 添加文章信息 -->
    <insert id="insert" parameterType="MMSnsArticleEntity" useGeneratedKeys="true"
            keyProperty="articleId">
        insert into mb_article
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="articleStatus!=null">
                article_status,
            </if>
            <if test="articleDate!=null">
                article_date,
            </if>
            <if test="articleTitle!=null">
                article_title,
            </if>
            <if test="articleSumary!=null">
                article_sumary,
            </if>
            <if test="articleContent!=null">
                article_content,
            </if>
            <if test="articleLogo!=null">
                article_logo,
            </if>
            <if test="articleLabels!=null">
                article_labels,
            </if>
            <if test="wordCount!=null">
                word_count,
            </if>
            <if test="sysCategoryId!=null">
                sys_category_id,
            </if>
            <if test="userCategoryId!=null">
                user_category_id,
            </if>
            <if test="readCount!=null">
                read_count,
            </if>
            <if test="collectCount!=null">
                collect_count,
            </if>
            <if test="voteCount!=null">
                vote_count,
            </if>
            <if test="relayCount!=null">
                relay_count,
            </if>
            <if test="commentCount!=null">
                comment_count,
            </if>
            <if test="articleType!=null">
                article_type,
            </if>
            <if test="userId!=null">
                user_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="articleStatus!=null">
                #{articleStatus},
            </if>
            <if test="articleDate!=null">
                #{articleDate},
            </if>
            <if test="articleTitle!=null">
                #{articleTitle},
            </if>
            <if test="articleSumary!=null">
                #{articleSumary},
            </if>
            <if test="articleContent!=null">
                #{articleContent},
            </if>
            <if test="articleLogo!=null">
                #{articleLogo},
            </if>
            <if test="articleLabels!=null">
                #{articleLabels},
            </if>
            <if test="wordCount!=null">
                #{wordCount},
            </if>
            <if test="sysCategoryId!=null">
                #{sysCategoryId},
            </if>
            <if test="userCategoryId!=null">
                #{userCategoryId},
            </if>
            <if test="readCount!=null">
                #{readCount},
            </if>
            <if test="collectCount!=null">
                #{collectCount},
            </if>
            <if test="voteCount!=null">
                #{voteCount},
            </if>
            <if test="relayCount!=null">
                #{relayCount},
            </if>
            <if test="commentCount!=null">
                #{commentCount},
            </if>
            <if test="articleType!=null">
                #{articleType},
            </if>
            <if test="userId!=null">
                #{userId},
            </if>
        </trim>
    </insert>

    <!-- 更新文章信息 -->
    <update id="updateByPrimaryKey" parameterType="MMSnsArticleEntity">
        update mb_article
        <set>
            <if test="articleStatus!=null">
                article_status=#{articleStatus},
            </if>
            <if test="articleDate!=null">
                article_date=#{articleDate},
            </if>
            <if test="articleTitle!=null">
                article_title=#{articleTitle},
            </if>
            <if test="articleSumary!=null">
                article_sumary=#{articleSumary},
            </if>
            <if test="articleContent!=null">
                article_content=#{articleContent},
            </if>
            <if test="articleLogo!=null">
                article_logo=#{articleLogo},
            </if>
            <if test="articleLabels!=null">
                article_labels=#{articleLabels},
            </if>
            <if test="wordCount!=null and wordCount!=0">
                word_count=#{wordCount},
            </if>
            <if test="sysCategoryId!=null and sysCategoryId!=0">
                sys_category_id=#{sysCategoryId},
            </if>
            <if test="userCategoryId!=null and userCategoryId!=0">
                user_category_id=#{userCategoryId},
            </if>
            <if test="readCount!=null and readCount!=0">
                read_count=read_count+#{readCount},
            </if>
            <if test="collectCount!=null and collectCount!=0">
                collect_count=collect_count+#{collectCount},
            </if>
            <if test="voteCount!=null and voteCount!=0">
                vote_count=vote_count+#{voteCount},
            </if>
            <if test="relayCount!=null and relayCount!=0">
                relay_count=relay_count+#{relayCount},
            </if>
            <if test="commentCount!=null and commentCount!=0">
                comment_count=comment_count+#{commentCount},
            </if>
            <if test="articleType!=null">
                article_type=#{articleType},
            </if>
            <if test="userId!=null and userId!=0">
                user_id=#{userId},
            </if>
        </set>
        <where>
            <if test="articleId!=null">
                article_id=#{articleId}
            </if>
        </where>
    </update>

    <!-- 根据分类id、文章id标记为已删除状态 -->
    <update id="batchUpdateByColumn">
        update mb_article
        <set>
            <if test="articleStatus!=null">
                article_status=#{articleStatus},
            </if>
        </set>
        <where>
            <if test="sysCategoryId!=null and sysCategoryId!=0">
                and sys_ategory_id=#{sysCategoryId}
            </if>
            <if test="userCategoryId!=null and userCategoryId!=0">
                and user_uategory_id=#{userCategoryId}
            </if>
        </where>
    </update>

    <!-- 根据id删除文章 -->
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete
        from mb_article
        where article_id=#{articleId}
    </delete>
</mapper>