body{
    float: left;
    width: 100%;
    min-width: 1100px;
    margin: 0px;
    padding:0px;
}
.group-body{
    float: left;
    width: 70%;
    margin: 20px 0px 0px 20px;
}
.group-body .detail-breadcrumb{
    font-size: 16px;
    font-weight: 400;
    margin: 22px 0 30px;
}
.group-body .detail-breadcrumb a{
    font-size: 18px;
    font-weight: 400;
    margin: 22px 0 30px;
    color: #49ab4f;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
    text-decoration: none;
    outline: 0;
}
.group-body .group-title{
    float: left;
    width: 100%;
}
.group-body .group-title .group-author{
    float: right;
    margin-top: 20px;
}
.group-body .group-message{
    float: left;
    margin-top: 30px;
    padding: 20px 0;
    font-size: 14px;
    line-height: 1.78571429;
}
.group-body .group-comment{
    float: left;
    width: 100%;
    margin-bottom: 50px;
}

.group-body .group-comment{
    float: left;
    width: 100%;
    margin-bottom: 50px;
}
.group-body .group-comment .comment-body{
    width: 100%;
}
.group-body .group-comment .comment-body .comment-textarea button{
    float: right;
    background-color: #4eaa4c;
    border-radius: 3px;
    padding: .4rem .8rem;
    outline: 0;
    border: 0;
    margin: 0;
    display: inline-block;
    cursor: pointer;
}
.group-body .group-comment .comment-body .comment-list ul li{
    float: left;
    margin-top: 20px;
    width: 100%;
}
.group-body .group-comment .comment-body .comment-list ul li .comment-image{
    float: left;
    width: 50px;
}
.group-body .group-comment .comment-body .comment-list ul li .comment-profile{
    float: left;
}
.group-body .group-comment .comment-body .comment-list ul li .comment-profile span{
    float: left;
    width: 100%;
}
.group-body .group-comment .comment-body .comment-list ul li .comment-reply{
    float: right;
    margin-bottom: 50px;
}

.group-body .group-buttons{
    float: left;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}
.group-body .group-buttons ul{
    width: 780px;
    margin: 10px auto;
}
.group-body .group-buttons ul li{
    float: left;
    margin-right: 10px;
}
.group-body .group-buttons ul li a{
    width: 140px;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    padding: 0;
    display: block;
    border: 1px solid #5B5C5F;
    background: #fff;
    border-radius: 0;
    color: #5B5C5F;
    text-align: center;
}
.group-category{
    width: 25%;
    float: right;
    margin: 0px;
    padding: 0px;
    margin-top: 186px;
}
.group-category .category-hotarticle,
.group-category .category-newarticle
{
    float: left;
}
.group-category .category-hotarticle ul li,
.group-category .category-newarticle ul li {
    margin-bottom: 30px;
    width: 100%;
    float: left;
}
