<title>baby慕慕SNS个人博客-我的资讯</title>
<link rel="stylesheet" href="${request.getContextPath()}/plugins/layui/css/layui.css" media="all">
<link rel="stylesheet" href="${request.getContextPath()}/plugins/font-awesome/css/font-awesome.min.css" media="all">
<link rel="stylesheet" href="${request.getContextPath()}/resources/profile/css/news/news.css" media="all">
#parse("/portal/header.vm")
<div class="layout-body">
    #parse("/profile/news/left.vm")
    <div class="layout-right">
        <div class="news-body">
            <h2 style="font-size: 30px;font-weight: 400px;color: green;border-radius: 10%">我的资讯</h2>
            <hr>
            <ul>
                #set($newss=[0 .. 4])
                #foreach($news in $newss)
                    <li>
                        <div class="newscontent">
                            <span class="newstitle">深入区分javascript中的作用域和执行环境</span>
                            <span class="newsediter">阅读 20 ·评论 120 ·赞 0 ·收藏 0 ·(<a href="">编辑</a> | <a href="">删除</a>)</span>
                            <span class="newspublish">2017/06/19 创建</span>
                        </div>
                        <div class="newslogo">
                            <a href="/profile/babymm/home"><img src="https://gw.alicdn.com/bao/uploaded/i4/69476562/TB2htq4XTka61BjSszfXXXN8pXa_!!69476562.jpg_400x400q90.jpg?t=1513063905068" width="100" height="100"></a>
                        </div>
                        <hr>
                    </li>
                #end
            </ul>
        </div>
        <div class="news-page" id="newsPage"></div>
    </div>
</div>
#parse("/portal/sfooter.vm")
<script type="text/javascript" src="${request.getContextPath()}/plugins/layui/layui.js" charset="utf-8"></script>
<script type="text/javascript" src="${request.getContextPath()}/plugins/jquery/jquery-3.1.0.min.js" charset="utf-8"></script>
<script type="text/javascript" src="${request.getContextPath()}/resources/common/js/common.js" charset="utf-8"></script>
<script type="text/javascript">
    layui.use(['element','laypage'], function () {
        var element = layui.element,laypage=layui.laypage;
        laypage.render({
            elem: 'newsPage'
            ,count: 120
            ,jump: function(obj){
                console.log(obj)
            }
        });
    });
</script>