<title>baby慕慕SNS个人博客-发布资讯</title>
<link rel="stylesheet" href="${request.getContextPath()}/plugins/layui/css/layui.css" media="all">
<link rel="stylesheet" href="${request.getContextPath()}/plugins/font-awesome/css/font-awesome.min.css" media="all">
<link rel="stylesheet" href="${request.getContextPath()}/resources/profile/css/news/news.css" media="all">
#parse("/portal/header.vm")
<div class="layout-body">
    #parse("/profile/news/left.vm")
    <div class="layout-right">
        <div class="news-body">
            <h2 style="font-size: 30px;font-weight: 400px;color: green;border-radius: 10%">发布资讯</h2>
            <hr>
            <div class="uploadform" style="width: 100%;float: left;">
                <form class="layui-form" style="width: 100%;float: left;">
                    <div class="layui-form-item" style="width: 90%;float: left;">
                        <label class="layui-form-label" style="float: left;width: 60px;text-align: left">标题</label>
                        <div class="layui-input-inline photo-title"  style="float: left;width: 400px;">
                            <input type="text" name="title" lay-verify="title" autocomplete="off" placeholder="请输入标题" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item" style="width: 100%;float: left;">
                        <label class="layui-form-label" style="float: left;width: 60px;text-align: left">分类</label>
                        <div class="layui-input-inline"  style="float: left;width: 400px">
                            <select name="interest" lay-filter="aihao">
                                <option value="0">大数据资讯</option>
                                <option value="2">汽车资讯</option>
                                <option value="2">金融资讯</option>
                                <option value="2">技术资讯</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-form-item" style="width: 100%;float: left;">
                        <textarea id="articleTextarea" style="display: none;float: left;width: 90%;"></textarea>
                    </div>
                    <div class="layui-form-item" style="width: 90%;float: left;">
                        <label class="layui-form-label" style="float: left;width: 60px;text-align: left">标签</label>
                        <div class="layui-input-inline photo-title"  style="float: left;width: 400px;">
                            <input type="text" name="title" lay-verify="title" autocomplete="off" placeholder="请输入关键词，多个以空格分隔" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item" style="width: 100%;float: left;">
                        <label class="layui-form-label" style="float: left;width: 60px;text-align: left">系统分类</label>
                        <div class="layui-input-inline"  style="float: left;width: 400px">
                            <select name="interest" lay-filter="aihao">
                                <option value="0">大数据资讯</option>
                                <option value="2">汽车资讯</option>
                                <option value="2">金融资讯</option>
                                <option value="2">技术资讯</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
#parse("/portal/sfooter.vm")
<script type="text/javascript" src="${request.getContextPath()}/plugins/layui/layui.js" charset="utf-8"></script>
<script type="text/javascript" src="${request.getContextPath()}/plugins/jquery/jquery-3.1.0.min.js" charset="utf-8"></script>
<script type="text/javascript" src="${request.getContextPath()}/resources/common/js/common.js" charset="utf-8"></script>
<script type="text/javascript">
    layui.use(['element','form','layedit'], function () {
        var element = layui.element,form=layui.form,layedit=layui.layedit;
        //设置文本编辑器 图片上传接口
        layedit.set({
            uploadImage: {url: '/common/upload/layedit', type: 'post'}
        });
        layedit.build('articleTextarea',{
            height:400
        });
    });
</script>