<style type="text/css">
    .layout-body .layout-left {
        width: 25%;
        float: left;
        border-right: 1px solid #ddd;
    }

    .layout-body .layout-left .left-content {
        width: 90%;
        float: left;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 20px;
    }

    .layout-body .layout-left .left-content ul {
        width: 200px;
        margin: 0 auto;
    }

    .layout-body .layout-left .left-content ul li h2 {
        width: 100%;
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
        display: block;
        color: #6a6a6a;
        border-bottom: 1px solid #ddd;
    }

    .layout-body .layout-left .left-content ul li ol {
        float: left;
        width: 100%;
        margin-top: 10px;
        margin-left: 15px;
        margin-bottom: 10px;
    }

    .layout-body .layout-left .left-content ul li ol li {
        width: 100%;
        text-align: left;
        height: 25px;
    }

    .layout-body .layout-left .left-content ul li ol li a {
        transition: color .3s;
        text-decoration: none;
        color: #666;
        border: none;
        outline: none;
    }

    .active {
        color: #4eaa4c !important;
    }
</style>
<div class="layout-left">
    <div class="left-content">
        <ul>
            <li>
                <h2>个人信息管理</h2>
                <ol>
                    #if($adminModular=='userInbox')
                        <li><a class="active" href="/admin/$individuation/user/inbox">我的私信</a></li>
                    #else
                        <li><a href="/admin/$individuation/user/inbox">我的私信</a></li>
                    #end
                    #if($adminModular=='userProfile')
                        <li><a class="active" href="/admin/$individuation/user/profile">修改个人资料</a></li>
                    #else
                        <li><a href="/admin/$individuation/user/profile">修改个人资料</a></li>
                    #end
                    #if($adminModular=='userChpwd')
                        <li><a class="active" href="/admin/$individuation/user/chpwd">修改登录密码</a></li>
                    #else
                        <li><a href="/admin/$individuation/user/chpwd">修改登录密码</a></li>
                    #end
                    #if($adminModular=='userNamespace')
                        <li><a class="active" href="/admin/$individuation/user/namespace">空间个性化设置</a></li>
                    #else
                        <li><a href="/admin/$individuation/user/namespace">空间个性化设置</a></li>
                    #end
                    #if($adminModular=='userChemail')
                        <li><a class="active" href="/admin/$individuation/user/chemail">修改登录邮箱</a></li>
                    #else
                        <li><a href="/admin/$individuation/user/chemail">修改登录邮箱</a></li>
                    #end
                    #if($adminModular=='userChphone')
                        <li><a class="active" href="/admin/$individuation/user/chphone">绑定手机</a></li>
                    #else
                        <li><a href="/admin/$individuation/user/chphone">绑定手机</a></li>
                    #end
                    #if($adminModular=='userTip')
                        <li><a class="active" href="/admin/$individuation/user/chphone">修改打赏二维码</a></li>
                    #else
                        <li><a href="/admin/$individuation/user/chphone">修改打赏二维码</a></li>
                    #end
                </ol>
            </li>
            <li>
                <h2>文章管理</h2>
                <ol>
                    <li><a href="/profile/$individuation/article/create">发表文章</a></li>
                    <li><a href="/profile/$individuation/article">我的文章</a></li>
                    #if($adminModular=='articleClassify')
                        <li><a class="active" href="/admin/$individuation/article/classify">文章分类</a></li>
                    #else
                        <li><a href="/admin/$individuation/article/classify">文章分类</a></li>
                    #end
                    #if($adminModular=='articleComment')
                        <li><a class="active" href="/admin/$individuation/article/comment">文章评论管理</a></li>
                    #else
                        <li><a href="/admin/$individuation/article/comment">文章评论管理</a></li>
                    #end
                </ol>
            </li>
            <li>
                <h2>动弹管理</h2>
                <ol>
                    <li><a href="/profile/$individuation/action/publish">发表动弹</a></li>
                    <li><a href="/profile/$individuation/action">我的动弹</a></li>
                    #if($adminModular=='actionComment')
                        <li><a class="active" href="/admin/$individuation/action/comment">动弹评论管理</a></li>
                    #else
                        <li><a href="/admin/$individuation/action/comment">动弹评论管理</a></li>
                    #end
                </ol>
            </li>
            <li>
                <h2>群组管理</h2>
                <ol>
                    <li><a href="/profile/$individuation/group/create">创建群组</a></li>
                    <li><a href="/profile/$individuation/group">我的群组</a></li>
                    #if($adminModular=='groupComment')
                        <li><a class="active" href="/admin/$individuation/group/comment">群组评论管理</a></li>
                    #else
                        <li><a href="/admin/$individuation/group/comment">群组评论管理</a></li>
                    #end
                </ol>
            </li>
            <li>
                <h2>资讯管理</h2>
                <ol>
                    <li><a href="/profile/$individuation/news/publish">上传资讯</a></li>
                    <li><a href="/profile/$individuation/news">我的资讯</a></li>
                    #if($adminModular=='newsComment')
                        <li><a class="active" href="/admin/$individuation/news/comment">资讯评论管理</a></li>
                    #else
                        <li><a href="/admin/$individuation/news/comment">资讯评论管理</a></li>
                    #end
                </ol>
            </li>
            <li>
                <h2>图库管理</h2>
                <ol>
                    <li><a href="/profile/$individuation/photo/upload">上传图库</a></li>
                    <li><a href="/profile/$individuation/photo">我的图库</a></li>
                    #if($adminModular=='photoAlbum')
                        <li><a class="active" href="/admin/$individuation/photo/album">我的相册</a></li>
                    #else
                        <li><a href="/admin/$individuation/photo/album">相册管理</a></li>
                    #end
                    #if($adminModular=='photoComment')
                        <li><a class="active" href="/admin/$individuation/photo/comment">图库评论管理</a></li>
                    #else
                        <li><a href="/admin/$individuation/photo/comment">图库评论管理</a></li>
                    #end
                </ol>
            </li>
            <li>
                <h2>文档管理</h2>
                <ol>
                    <li><a href="/profile/$individuation/doc/upload">上传文档</a></li>
                    <li><a href="/profile/$individuation/doc">我的文档</a></li>
                    #if($adminModular=='docComment')
                        <li><a class="active" href="/admin/$individuation/doc/comment">文档评论管理</a></li>
                    #else
                        <li><a href="/admin/$individuation/doc/comment">文档评论管理</a></li>
                    #end
                </ol>
            </li>
        </ul>
    </div>
</div>