.news-search{
    float: left;
    width: 100%;
    height: 70px;
    background-color:aliceblue;
    min-width: 1100px;
    margin: 0px;
    padding:0px;
}
.news-search .search-logo{
    width: 70%;
    height: 60px;
    text-align: left;
    margin-left: 30px;
    float: left;
}
.news-search .search-input{
    width: 250px;
    height: 40px;
    float: left;
    margin-top: 20px;
}
.news-search .search-input .sec-search{
    position: relative;
    margin: 0;
}
.news-search .search-input .sec-search .search-text{
    font-size: .875rem;
    width: 200px;
    height: 30px;
    padding: 0 50px 0 14px;
    -webkit-transition: -webkit-box-shadow .2s;
    transition: -webkit-box-shadow .2s;
    transition: box-shadow .2s;
    transition: box-shadow .2s,-webkit-box-shadow .2s;
    color: #111;
    border: none;
    border-radius: 1.5em;
    outline: 0;
    background: rgba(255,255,255,.6);
    -webkit-box-shadow: inset 0 0 0 1px rgba(0,0,0,.1);
    box-shadow: inset 0 0 0 1px rgba(0,0,0,.1);
}
.news-search .search-input .sec-search .ic-search{
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 30px;
    padding: 0;
    cursor: pointer;
    -webkit-transition: background .2s;
    transition: background .2s;
    border: none;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
    outline: 0;
    background: url(https://www.oschina.net/build/oschina/components/imgs/icon/ic_search.svg) center center no-repeat;
    background-size: 16px 16px;
}
.news-body{
    float: left;
    width: 98%;
    padding: 0px;
    margin: 0px 15px 15px 15px;
    min-width: 800px;
}
.news-body .news-content{
    float: left;
    width: 100%;
}
.news-body .news-content .layui-row .maincontent{
    float: left;
    min-height: 390px;
    margin-bottom: 30px;
    min-width: 540px;
}
.news-body .news-content .layui-row .maincontent .grid-left{
    width: 40%;
    height:100%;
    float: left;
}
.news-body .news-content .layui-row .maincontent .grid-left .left-header{
    width: 100%;
    padding-left: 16px;
    margin-top: 6px;
    float: left;
}
.news-body .news-content .layui-row .maincontent .grid-left .left-header h3{
    float: left;
    font-size: 26px;
    font-weight: normal;
    border-left: 4px solid #37ab2f;
    height: 26px;
    line-height: 24px;
    padding-left: 15px;
    float: left;
}
.news-body .news-content .layui-row .maincontent .grid-left .left-content{
    width: 100%;
    margin-top: 10px;
    padding-left: 16px;
    float: left;
}
.news-body .news-content .layui-row .maincontent .grid-left .left-content ul li{
    background: url(/resources/portal/images/dot.png) no-repeat;
    background-position: 0 17px;
    padding-left: 20px;
    white-space: nowrap;
    font-size: 16px;
    height: 39px;
    line-height: 39px;
    overflow: hidden;
    color: #ccc;
    display: list-item;
    text-align: -webkit-match-parent;
}
.news-body .news-content .layui-row .maincontent .grid-left .left-content ul li a{
    cursor: pointer;
}
.news-body .news-content .layui-row .maincontent .grid-right{
    height:100%;
    float: left;
    width: 900px;
    margin: 0 auto;
}
.news-body .news-content .layui-row .maincontent .grid-right .right-content{
    margin-top: 10px;
    padding-left: 30px;
    width: 290px;
}
.news-body .news-content .layui-row .maincontent .grid-right .right-content img{
    width: 280px;
    height: 186px;
}
.news-body .news-content .layui-row .maincontent .grid-right .right-content .newstitle{
    position: absolute;
    width: 280px;
    height: 32px;
    z-index: 1000;
    float: left;
    left: 40px;
    top: 150px;
    display: block;
    line-height: 30px;
    overflow: hidden;
    background-position: 0 -203px;
    background-repeat: repeat-x;
    color: #fff;
    cursor: pointer;
}
.text-overflow{
    display:block;
    word-break:keep-all;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}