.body{
    width: 100%;
    min-width: 1100px;
    margin: 0px;
    padding: 0px;
}
.layout-body{
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
    min-width: 1056px;
}
.layout-body .layout-left{
    float: left;
    width: 70%;
}
.layout-body .layout-left .layout-breadcrumb{
    font-size: 16px;
    font-weight: 400;
    margin: 22px 0 30px;
}
.layout-body .layout-left .layout-breadcrumb a{
    font-size: 18px;
    font-weight: 400;
    margin: 22px 0 30px;
    color: #49ab4f;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
    text-decoration: none;
    outline: 0;
}
.layout-body .layout-left .layout-content{
    float: left;
    width: 100%;
}
.layout-body .layout-left .layout-content .li-image{
    float: left;
    width: 60px;
    height:100%;
    display: block;
}
.layout-body .layout-left .layout-content .li-info{
    float: left;
    width: 90%;
}
.layout-body .layout-left .layout-content .li-info .info-author{
    float: left;
    width: 100%;
    margin-top: 4px;
}
.layout-body .layout-left .layout-content .li-info .info-reprint{
    float: left;
    width: 100%;
    margin-left: 10px;
    margin-top: 10px;
}
.layout-body .layout-left .layout-content .li-info .info-reprint .reprintinfo{
    float: left;
    width: 100%;
    margin-top: 4px;
}
.layout-body .layout-left .layout-content .li-info .info-content{
    float: left;
    width: 100%;
    line-height: 24px;
    vertical-align: top;
}
.layout-body .layout-left .layout-content .li-info .info-content img{
    max-width: 100%;
    max-height: 100%;
}
.layout-body .layout-left .layout-content .li-info .info-command{
    float: left;
    margin-top: 10px;
    height: 40px;
    width: 100%;
}
.layout-body .layout-left .layout-content .li-info .info-command span a{
    margin-top: 10px;
    margin-right: 3px;
    color: #898989;
}
.layout-body .layout-left .content-reply{
    float: left;
    width: 100%;
}
.layout-body .layout-left .content-reply .textarea-publish{
    float: right;
    margin-top: 5px;
    margin-bottom: 10px;
}
.layout-body .layout-left .content-reply .textarea-publish button{
    width: 72px;
    background-color: #ffa300;
    font-size: 14px;
    line-height: 26px;
    width: 72px;
    height: 30px;
    color: #fff;
}
.layout-body .layout-left .content-comments ul{
    float: left;
    min-height: 600px;
    width: 100%;
}
.layout-body .layout-left .content-comments ul li{
    float: left;
    margin-top: 20px;
    width: 100%;
    border-bottom: 1px solid #ddd;
}
.layout-body .layout-left .content-comments ul li .comment-image{
    float: left;
    width: 50px;
}
.layout-body .layout-left .content-comments ul li .comment-profile{
    float: left;
}
.layout-body .layout-left .content-comments ul li .comment-profile span{
    float: left;
    width: 100%;
    font-size: 12px;
    color: #999;
    line-height: 2;
    margin-top: 1px;
}
.layout-body .layout-left .content-comments ul li .comment-maincontent{
    float: left;
    width: 100%;
    margin-left: 50px;
}
.layout-body .layout-left .content-comments ul li .comment-maincontent img{
    max-width: 100%;
    max-height: 100%;
    min-width: 600px;
    min-height: 200px;
}
.layout-body .layout-left .content-comments ul li .comment-replytextarea{
    float: left;
    width: 100%;
    margin-left: 50px;
}
.layout-body .layout-left .content-comments ul li .comment-reply{
    float: right;
}
.layout-body .layout-left .content-comments ul li .comment-commentcontent{
    width: 100%;
    float: left;
    margin-left: 50px;
}
.layout-body .layout-left .content-comments ul li .comment-replycontent{
    width: calc(100% - 50px);
    float: left;
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.layout-body .layout-right{
    width: 25%;
    float: right;
    margin-top: 75px;
}
.layout-body .layout-right .layout-action ul{
    margin-top: 20px;
}
.layout-body .layout-right .layout-action ul li{
    float: left;
    margin-bottom: 30px;
    width: 100%;
}
.layout-body .layout-right .layout-action ul li .li-image{
    float: left;
    width: 60px;
    height:100%;
    display: block;
}
.layout-body .layout-right .layout-action ul li .li-info{
    float: left;
    width: calc(100% - 80px);
    margin-left: 20px;
}
.layout-body .layout-right .layout-action ul li .li-info .info-author{
    float: left;
    width: 100%;
    margin-top: 4px;
}
.layout-body .layout-right .layout-action ul li .li-info .info-reprint{
    float: left;
    width: 100%;
    margin-left: 10px;
    margin-top: 10px;
}
.layout-body .layout-right .layout-action ul li .li-info .info-reprint .reprintinfo{
    float: left;
    width: 100%;
    margin-top: 4px;
}
.layout-body .layout-right .layout-action ul li .li-info .info-content{
    float: left;
    width: 100%;
    line-height: 24px;
    vertical-align: top;
}
.layout-body .layout-right .layout-action ul li .li-info .info-content img{
    max-width: 100%;
    max-height: 200px;
}
.layout-body .layout-right .layout-action ul li .li-info .info-command{
    float: left;
    margin-top: 10px;
    height: 40px;
    width: 100%;
}
.layout-body .layout-right .layout-action ul li .li-info .info-command span a{
    margin-top: 10px;
    margin-right: 3px;
    color: #898989;
}

.layui-flow-more{
    float: left;
    width: 100%;
    margin-top: 20px;
}
