<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:motan="http://api.weibo.com/schema/motan"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
   http://api.weibo.com/schema/motan http://api.weibo.com/schema/motan.xsd">

    <context:property-placeholder location="classpath:properties/motan.properties"/>

    <!-- protocol -->
    <motan:protocol id="motanProtocol"
                    default="true"
                    name="motan"
                    requestTimeout="${motan.protocol.requestTimeout}"
                    maxServerConnection="${motan.protocol.maxServerConnection}"
                    maxContentLength="${motan.protocol.maxContentLength}"
                    loadbalance="${motan.protocol.loadbalance}"
                    haStrategy="${motan.protocol.haStrategy}"
                    maxWorkerThread="${motan.protocol.maxWorkerThread}"
                    minWorkerThread="${motan.protocol.minWorkerThread}"/>

    <!--注册中心 -->
    <motan:registry regProtocol="${motan.registery.regProtocol}"
                    name="motanRegistry"
                    address="${motan.registery.address}"/>

    <motan:basicReferer id="motanBasicReferer"
                        connectTimeout="${motan.basicService.connectTimeout}"
                        accessLog="${motan.basicService.accessLog}"
                        retries="${motan.basicService.retries}"
                        group="${motan.basicService.group}"
                        module="${motan.basicService.module}"
                        protocol="motanProtocol"
                        registry="motanRegistry"
                        throwException="${motan.basicService.throwException}"
                        check="${motan.basicService.check}"
                        shareChannel="${motan.basicService.shareChannel}"/>

    <!-- exporting service by motan -->
    <motan:referer id="articleService" interface="com.lovecws.mumu.mmsns.article.service.MMSnsArticleService" basicReferer="motanBasicReferer"/>
    <motan:referer id="articleCategoryService" interface="com.lovecws.mumu.mmsns.article.service.MMSnsArticleCategoryService" basicReferer="motanBasicReferer"/>
    <motan:referer id="articleCollectService" interface="com.lovecws.mumu.mmsns.article.service.MMSnsArticleCollectService" basicReferer="motanBasicReferer"/>
    <motan:referer id="articleCommentService" interface="com.lovecws.mumu.mmsns.article.service.MMSnsArticleCommentService" basicReferer="motanBasicReferer"/>
    <motan:referer id="articleVoteService" interface="com.lovecws.mumu.mmsns.article.service.MMSnsArticleVoteService" basicReferer="motanBasicReferer"/>
</beans>