<title>baby慕慕SNS个人博客管理系统-新闻资讯</title>
<link rel="stylesheet" href="${request.getContextPath()}/plugins/layui/css/layui.css" media="all">
<link rel="stylesheet" href="${request.getContextPath()}/resources/portal/css/news/news.css">
<link rel="stylesheet" href="${request.getContextPath()}/plugins/font-awesome/css/font-awesome.min.css">
#parse("/portal/header.vm")
<div class="news-search">
    <div class="search-logo">
        <a href="/news" style="display:inline-block;margin-top: 15px;color: #393D49">
            <h1>我的资讯</h1>
        </a>
    </div>
</div>
<div class="news-body">
    <div class="news-content">
        <div class="layui-row">
            #set($newss=[0 .. 6])
            #foreach($news in $newss)
                <div class="maincontent layui-col-xs12 layui-col-sm12 layui-col-md12">
                    <div class="grid-left">
                        <div class="left-header">
                            <a href="/news/music"><h3>娱乐</h3></a>
                        </div>
                        <div class="left-content">
                            <ul class="content-ul">
                                <li class="text-overflow"><a target="_self" href="/news/detail/1">《偶像练习生》学员一顿火锅捞 道出背后辛酸</a></li>
                                <li class="text-overflow"><a target="_self" href="/news/detail/1">贝克汉姆被小七的十字绣弄晕了，贝嫂在一边悠闲地健身敷面膜</a></li>
                                <li class="text-overflow"><a target="_self" href="/news/detail/1">《唐探2》首度公开发声：《红海行动》票房存在猫腻！</a></li>
                                <li class="text-overflow"><a target="_self" href="/news/detail/1">当红男星未P图照片流出！杨洋竟是原图帅，张艺兴烟熏妆辣眼睛！</a></li>
                                <li class="text-overflow"><a target="_self" href="/news/detail/1">《红海行动》中的这些镜头你看懂了吗？不知道这些你就看不懂电影</a></li>
                                <li class="text-overflow"><a target="_self" href="/news/detail/1">平昌冬奥会上的这张照片火了！网友直言：快给摄影师发奖金！</a></li>
                                <li class="text-overflow"><a target="_self" href="/news/detail/1">她17岁一脱成名，为情狠心抛下儿子跳楼身亡，如..</a></li>
                                <li class="text-overflow"><a target="_self" href="/news/detail/1">她17岁一脱成名，为情狠心抛下儿子跳楼身亡，如..</a></li>
                                <li class="text-overflow"><a target="_self" href="/news/detail/1">她17岁一脱成名，为情狠心抛下儿子跳楼身亡，如..她17岁一脱成名，为情狠心抛下儿子跳楼身亡，如.</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="grid-right">
                        #set($newsimgs=[0 .. 5])
                        #foreach($newsimg in $newsimgs)
                            <div class="right-content layui-col-xs4 layui-col-sm4 layui-col-md4">
                                <a href="/action/detail/" target="_self">
                                    <img src="https://p1.ssl.cdn.btime.com/t014040cfc1209cc0d4.jpg">
                                    <span class="newstitle">在阅读理解这件事上，AI已甩人类几条街?</span>
                                </a>
                            </div>
                        #end
                    </div>
                </div>
            #end
        </div>
    </div>
</div>
#parse("/portal/footer.vm")
<script type="text/javascript" src="${request.getContextPath()}/plugins/layui/layui.js" charset="utf-8"></script>
<script type="text/javascript" src="${request.getContextPath()}/plugins/jquery/jquery-3.1.0.min.js" charset="utf-8"></script>
<script type="text/javascript">
    layui.use(['element'], function () {
        var element = layui.element;
    });
</script>