<title>动弹评论管理-个人设置中心-个人空间-MMSNS个人博客</title>
<link rel="stylesheet" href="${request.getContextPath()}/plugins/layui/css/layui.css" media="all">
<link rel="stylesheet" href="${request.getContextPath()}/resources/admin/css/action/comment.css" media="all">
#parse("/portal/header.vm")
<div class="layout-body">
    #parse("/admin/left.vm")
    <div class="layout-right">
        <div class="right-content">
            <div class="right-header">
                <span class="header">
                    <span><a style="color: #4eaa4c;" href="">动弹评论管理</a></span>
                </span>
            </div>
            <div class="right-main">
                <ul>
                    #foreach($actionComment in $!actionCommentPageBean.recordList)
                        <li>
                            <div class="content-header">
                                <a href="/profile/$actionComment.individuation/action"><img src="$default.avator($!actionComment.avator)" width="60" height="60" style="border-radius: 50%"></a>
                            </div>
                            <div class="content-body">
                                <span class="body-title"><a href="/action/detail/$!actionComment.actionId">$!actionComment.actionContent</a></span>
                                #if($!actionComment.commentType=='comment')
                                    <span class="body-comment">评论: $!actionComment.commentContent</span>
                                #elseif($!actionComment.commentType=='reply')
                                    <span class="body-comment">回复 $!actionComment.replyUserName: $!actionComment.commentContent</span>
                                    <span class="body-comment">$!actionComment.replyCommentContent</span>
                                #end
                                <span class="body-extra">
                                    <span class="pubdate">$date.format('yyyy-MM-dd HH:mm:ss',$!actionComment.commentDate)</span>
                                    <span class="buttons">
                                        <a href="javascript:void(0)" onclick="actioneCommentReplyButton('$!actionComment.commentId','$!actionComment.userName')">回复</a> |
                                        <a href="javascript:void(0)" onclick="actioneCommentDeleteButton('$!actionComment.commentId')">删除</a></span>
                                </span>
                            </div>
                        </li>
                    #end
                </ul>
            </div>
            #if($!actionCommentPageBean.totalPage>1)
                <div class="right-page">
                    <div class="userarticle-page" id="actionCommentPage"></div>
                </div>
            #end
        </div>
    </div>
</div>
#parse("/portal/footer.vm")
<script type="text/javascript" src="${request.getContextPath()}/plugins/layui/layui.js" charset="utf-8"></script>
<script type="text/javascript" src="${request.getContextPath()}/plugins/jquery/jquery-3.1.0.min.js" charset="utf-8"></script>
<script type="text/javascript">
    var actionCommentCount='$!actionCommentPageBean.totalCount',actionCommentCurrentPage='$!actionCommentPageBean.currentPage';
    var individuation='$!individuation';
    layui.use(['element','laypage','layer'], function () {
        var element = layui.element,laypage=layui.laypage,layer=layui.layer;
        laypage.render({
            elem: 'actionCommentPage'
            ,count: actionCommentCount
            ,limit:7
            ,curr:actionCommentCurrentPage
            ,jump: function(obj,first){
                if(!first){
                    window.location.href="/admin/"+individuation+"/action/comment?page="+obj.curr+"&limit="+obj.limit;
                }
            }
        });
    });
    //评论回复
    function actioneCommentReplyButton(commentId,userName) {
        layer.open({
            type: 2,
            closeBtn:true,
            shadeClose:true,
            scrollbar:true,
            title: false,
            closeBtn: 1,
            area: ['650px', '420px'],
            skin: 'layui-layer-nobg',
            shadeClose: false,
            content:['/action/comment/comment_reply?commentId='+commentId+"&userName="+userName, 'no']
        });
    }
    //评论删除
    function actioneCommentDeleteButton(commentId) {
        layer.confirm('你确定要删除该评论吗？',{icon:3,title:'警告'}, function(index){
            $.post("/admin/"+individuation+"/action/comment/delete", {commentId:commentId,_method:'delete'}, function (respData) {
                if(respData.code==200){
                    layer.msg('删除动弹评论操作成功', {
                        icon: 1,
                        time: 2000
                    }, function () {
                        layer.close(index);
                        window.location.reload();
                    });
                } else {
                    layer.alert(respData.data, {icon: 5});
                }
            })
        });
    }
</script>