<title>动弹评论管理-个人设置中心-个人空间-MMSNS个人博客</title>
<link rel="stylesheet" href="${request.getContextPath()}/plugins/layui/css/layui.css" media="all">
<link rel="stylesheet" href="${request.getContextPath()}/resources/admin/css/article/comment.css" media="all">
#parse("/portal/header.vm")
<div class="layout-body">
    #parse("/admin/left.vm")
    <div class="layout-right">
        <div class="right-content">
            <div class="right-header">
                <span class="articleheader">
                    <span><a style="color: #4eaa4c;" href="">动弹评论管理</a></span>
                </span>
            </div>
            <div class="right-main">
                <ul>
                    #set($userarticles=[0 .. 6])
                    #foreach($userarticle in $userarticles)
                        <li>
                            <div class="userlogo">
                                <a><img src="https://gw.alicdn.com/bao/uploaded/i1/180558071/TB2sy6jXMQc61BjSZFGXXa1DFXa_!!180558071.jpg_400x400q90.jpg?t=1513063905068" width="60" height="60" style="border-radius: 50%"></a>
                            </div>
                            <div class="article">
                                <span class="articletitle"><a href="">FastDHT安装详解</a></span>
                                <span class="articlecontent">回复:引用来自“RangWea”的评论我启动了FastDFS和FastDHT，启动已经成功，用Java客户端upload同一张图片，在data下查看上传的文件，已让是生成了多个文件，并没有生成软链接。我将tracker、storage、dht的日志都改成了debug级别，依旧没有发现什么异常，dht完全...</span>
                                <span class="articleextra">
                                    <span class="pubdate">2017-12-15</span>
                                    <span class="articlebuttons">
                                        <a class="userMessageReply" href="javascript:void(0)">回复</a> |<a href="">删除</a> </span>
                                </span>
                            </div>
                        </li>
                    #end
                </ul>
            </div>
            <div class="right-page">
                <div class="userarticle-page" id="userMessagePage"></div>
            </div>

        </div>
    </div>
</div>
#parse("/portal/footer.vm")
<script type="text/javascript" src="${request.getContextPath()}/plugins/layui/layui.js" charset="utf-8"></script>
<script type="text/javascript" src="${request.getContextPath()}/plugins/jquery/jquery-3.1.0.min.js" charset="utf-8"></script>
<script type="text/javascript">
    layui.use(['element','laypage','layer'], function () {
        var element = layui.element,laypage=layui.laypage,layer=layui.layer;
        laypage.render({
            elem: 'userMessagePage'
            ,count: 120
            ,jump: function(obj){
                console.log(obj)
            }
        });
        $(function () {
            //私信回复弹框
            $(".userMessageReply").click(function () {
                layer.open({
                    type: 1,
                    closeBtn:true,
                    shadeClose:true,
                    scrollbar:false,
                    title: false,
                    closeBtn: 1,
                    area: ['450px', '300px'],
                    skin: 'layui-layer-nobg',
                    shadeClose: true,
                    content: '<div style="width: 100%;height:100%;float: left;background-color: white;"><div style="width: 410px;height: 240px;margin: 20px"><span style=" width: 100%;float: left;color: #6a6a6a;"><strong>发私信给 <a href="">wenshao</a></strong></span><span style=" width: 100%;float: left;margin-top: 10px;"><strong>私信内容</strong></span><textarea style="width: 90%;height: 160px;"></textarea><span style="width: 100%;float: left;margin-top: 15px;margin-bottom: 20px"><a style="width: 60px;font-size: 14px;line-height: 1.6;padding: 3px 8px !important;cursor: pointer;color: #fff;border: 1px solid transparent;border-radius: 2px;outline: none;background: #4eaa4c;" href="javascript:void(0)">发送</a></span></div></div>'
                });
            });
            //发送私信
            $(".sendUserMessage").click(function () {
                layer.open({
                    type: 1,
                    closeBtn:true,
                    shadeClose:true,
                    scrollbar:false,
                    title: false,
                    closeBtn: 1,
                    area: ['450px', '320px'],
                    skin: 'layui-layer-nobg',
                    shadeClose: true,
                    content: '<div style="width: 100%;height:100%;float: left;background-color: white;"><div style="width: 410px;height: 240px;margin: 20px"><span style=" width: 100%;float: left;color: #6a6a6a;"><strong>发送私信</strong></span><span style="float: left;width: 100%;margin-top: 10px;">发给:<input type="text"></span><span style=" width: 100%;float: left;margin-top: 10px;"><strong>私信内容</strong></span><textarea style="width: 90%;height: 160px;"></textarea><span style="width: 100%;float: left;margin-top: 15px;margin-bottom: 20px"><a style="width: 60px;font-size: 14px;line-height: 1.6;padding: 3px 8px !important;cursor: pointer;color: #fff;border: 1px solid transparent;border-radius: 2px;outline: none;background: #4eaa4c;" href="javascript:void(0)">发送</a></span></div></div>'
                });
            });
        })
    });
</script>