<title>动弹-MMSNS博客系统</title>
<link rel="stylesheet" href="${request.getContextPath()}/plugins/layui/css/layui.css" media="all">
<link rel="stylesheet" href="${request.getContextPath()}/plugins/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="${request.getContextPath()}/resources/portal/css/action/action.css" media="all">
#parse("/portal/header.vm")
<div class="action-search">
    <div class="search-logo">
        <a href="/action" style="display:inline-block;margin-top: 15px;color: #393D49">
            <h1>我的动弹</h1>
        </a>
    </div>
</div>
<div class="action-body">
    <div class="action-content">
        <div class="content-textarea">
            <textarea id="actionContentTextArea" style="display: none;"></textarea>
            <div class="textarea-publish">
            #*<span>0/160</span>*#
                <span><button id="publishActionButton">发布</button></span>
            </div>
        </div>
        <div class="content-list layout-action">
            <h3>大家在动弹什么？</h3>
            <ul class="action-flow flow-default" id="actionFlowUL"></ul>
        </div>
    </div>
    <div class="action-category">
        <div class="category-hotaction layout-action">
            <h3>热门动弹</h3>
            <ul>
                #foreach($hotaction in $hotActions)
                    <li>
                        <div class="li-image">
                            <a href="/profile/$!hotaction.individuation/action"><img src="$!hotaction.avator" width="60" height="60" style="border-radius: 50%"></a>
                        </div>
                        <div class="li-info">
                            <span class="info-author"><a href="/profile/$!hotaction.individuation/action">$!hotaction.userName</a></span>
                            <span class="info-content">$!hotaction.actionContent</span>
                            <span class="info-command">
                                <span><a href="/action/detail/1">赞$!hotaction.collectCount</a></span>
                                <span><a href="/action/detail/1">收藏$!hotaction.voteCount</a></span>
                                <span><a href="/action/detail/1">转发$!hotaction.reprintCount</a></span>
                                <span><a href="/action/detail/1">评论$!hotaction.commentCount</a></span>
                                <span><a href="/action/detail/$!hotaction.actionId">详细信息</a></span>
                            </span>
                        </div>
                    </li>
                #end
            </ul>
        </div>
    </div>
</div>
#parse("/portal/footer.vm")
<script type="text/javascript" src="${request.getContextPath()}/plugins/layui/layui.js" charset="utf-8"></script>
<script type="text/javascript" src="${request.getContextPath()}/plugins/jquery/jquery-3.1.0.min.js" charset="utf-8"></script>
<script type="text/javascript">
    layui.use(['element','layedit','flow','layer'], function () {
        var element = layui.element ,layedit = layui.layedit,flow=layui.flow,layer=layui.layer;
        layedit.set({
            uploadImage: {url: '/common/upload/layedit', type: 'post'}
        });
        var actionContentTextAreaIndex=layedit.build('actionContentTextArea',{
            height:150
        });
        flow.load({
            elem: '#actionFlowUL'
            ,isAuto:true
            ,isLazyimg:true
            ,done: function(page, next){
                $.get("/action/data",{page:page,limit:5},function(respData) {
                    if(respData.code==200){
                        var lis = [];
                        for(var i = 0; i < respData.data.length; i++){
                            lis.push(li(respData.data[i]));
                        }
                        if(respData.data.length<5){
                            next(lis.join(''), false);
                        }else{
                            next(lis.join(''), true);
                        }
                    }else{
                        layer.alert(respData.data,{icon:5});
                    }
                });
            }
        });
        //发布动弹
        $("#publishActionButton").click(function () {
            var actionContent=layedit.getContent(actionContentTextAreaIndex);
            if(actionContent==null||actionContent==''||actionContent=='<p><br></p>'){
                layer.msg("请输入评论内容！",{icon:1});
                return false;
            }
            $.post("/action/publish",{actionContent:actionContent},function(respData) {
                if(respData.code==200){
                    $("#actionFlowUL").prepend(li(respData.data));
                    /*window.document.frames("LAY_layedit_1").location.reload(true);*/
                }else if(respData.code==444){
                    layer.msg(respData.data,{icon:5,time:2000},function () {
                        window.location.href="/login";
                    });
                }else{
                    layer.alert(respData.data,{icon:5});
                }
            });
        });
    });
    function li(actionData) {
        var userAvator=actionData.avator?actionData.avator:'/resources/portal/images/logo.jpg';
        var reprintHtml='';
        if(actionData.actionType=='reprint'){
            reprintHtml= '<span class="info-reprint"><span class="reprintinfo"><a href="/profile/'+actionData.individuation+'/action">@'+actionData.reprintUserName+'</a></span>' +
                    '       <span class="reprintinfo">'+actionData.reprintActionContent+'</span>' +
                    '       <span class="reprintinfo"><a href="/action/detail/'+actionData.reprintActionId+'">查看原文</a></span>' +
                    '   </span>';
        }
        var li='<li><div class="li-image"><a href="/profile/'+actionData.individuation+'/action"><img src="'+userAvator+'" width="60" height="60" style="border-radius: 50%"></a></div>' +
                '<div class="li-info">' +
                '   <span class="info-author"><a href="/profile/'+actionData.individuation+'/action">'+actionData.userName+'</a><span style="color: #898989">  '+actionData.actionDate+'</span></span>' +
                '   <span class="info-content">'+actionData.actionContent+'</span>' +
                reprintHtml+
                '   <span class="info-command">' +
                '       <span><a href="/action/detail/1">赞'+actionData.voteCount+'</a></span>' +
                '       <span><a href="/action/detail/1">收藏'+actionData.collectCount+'</a></span>' +
                '       <span><a href="/action/detail/1">转发'+actionData.reprintCount+'</a></span>' +
                '       <span><a href="/action/detail/1">评论'+actionData.commentCount+'</a></span>' +
                '       <span><a href="/action/detail/'+actionData.actionId+'">详细信息</a></span>' +
                '   </span>' +
                '</div></li>';
        return li;
    }
</script>