<title>动弹详情-我的动弹-MMSNS博客系统</title>
<link rel="stylesheet" href="${request.getContextPath()}/plugins/layui/css/layui.css" media="all">
<link rel="stylesheet" href="${request.getContextPath()}/plugins/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="${request.getContextPath()}/resources/portal/css/action/detail.css" media="all">
#parse("/portal/header.vm")
<div class="layout-body">
    <div class="layout-left">
        <div class="layout-breadcrumb">
            <span class="layui-breadcrumb">
                <a href="/action" style="">我的动弹</a>
                <a href="/action/detail/$!action.actionId">动弹详情</a>
            </span>
        </div>
        <div class="layout-content">
            <div class="li-image">
                <a href="/profile/$!action.individuation/action"><img src="$!action.avator" width="40" height="40" style="border-radius: 50%"></a>
            </div>
            <div class="li-info">
                <span class="info-author"><a href="/profile/$!action.individuation/action">$!action.userName</a></span>
                <span class="info-content">$!action.actionContent</span>
                #if($!action.actionType=='reprint')
                    <div class="info-reprint">
                        <span class="reprintinfo"><a href="/profile/$!action.individuation/action">@ $!action.reprintUserName</a></span>
                        <span class="reprintinfo">$!action.reprintActionContent</span>
                        <span class="reprintinfo"><a href="/action/detail/$!action.reprintActionId">查看原文</a></span>
                    </div>
                #end
                <span class="info-command">
                    <span><a href="javascript:void(0)" onclick="actionVote('$!action.actionId')">赞$!action.voteCount</a></span>
                    <span><a href="javascript:void(0)" onclick="actionCollect('$!action.actionId')">收藏$!action.collectCount</a></span>
                    <span><a href="javascript:void(0)" onclick="actionReprint('$!action.actionId')">转发$!action.reprintCount</a></span>
                    <span><a href="javascript:void(0)" onclick="actionComment('$!action.actionId')">评论$!action.commentCount</a></span>
            </span>
            </div>
        </div>
        <div class="content-reply">
            <textarea id="actionContentTextArea" style="display: none;"></textarea>
            <div class="textarea-publish">
                #*<span>0/160</span>*#
                <span><button id="publishActionComment">评论</button></span>
            </div>
        </div>
        <div class="content-comments">
            <ul class="flow-default" id="actionDetailCommentFlowUL"></ul>
        </div>
    </div>
    <div class="layout-right">
        <div class="category-hotaction layout-action">
            <h3>推荐动弹</h3>
            <ul>
                #foreach($hotaction in $hotActions)
                    <li>
                        <div class="li-image">
                            <a href="/profile/$!hotaction.individuation/action"><img src="$!hotaction.avator" width="60" height="60" style="border-radius: 50%"></a>
                        </div>
                        <div class="li-info">
                            <span class="info-author"><a href="/profile/$!hotaction.individuation/action">$!hotaction.userName</a></span>
                            <span class="info-content">$!hotaction.actionContent</span>
                            <span class="info-command">
                                <span><a href="javascript:void(0)" onclick="actionVote('$!hotaction.actionId')">赞$!hotaction.voteCount</a></span>
                                <span><a href="javascript:void(0)" onclick="actionCollect('$!hotaction.actionId')">收藏$!hotaction.collectCount</a></span>
                                <span><a href="javascript:void(0)" onclick="actionReprint('$!hotaction.actionId')">转发$!hotaction.reprintCount</a></span>
                                <span><a href="javascript:void(0)" onclick="actionComment('$!hotaction.actionId')">评论$!hotaction.commentCount</a></span>
                                <span><a href="/action/detail/$!hotaction.actionId">详细信息</a></span>
                            </span>
                        </div>
                    </li>
                #end
            </ul>
        </div>
    </div>
</div>
#parse("/portal/footer.vm")
<script type="text/javascript" src="${request.getContextPath()}/plugins/layui/layui.js" charset="utf-8"></script>
<script type="text/javascript" src="${request.getContextPath()}/plugins/jquery/jquery-3.1.0.min.js" charset="utf-8"></script>
<script type="text/javascript">
    var actionId='$!actionId';
    layui.use(['element','layedit','flow','layer'], function () {
        var element = layui.element ,layedit = layui.layedit,flow=layui.flow,layer=layui.layer;
        layedit.set({
            uploadImage: {url: '/common/upload/layedit', type: 'post'}
        });
        var actionContentTextAreaIndex=layedit.build('actionContentTextArea',{
            height:150
        });
        flow.load({
            elem: '#actionDetailCommentFlowUL'
            ,isAuto:true
            ,isLazyimg:true
            ,done: function(page, next){
                $.get("/action/comment/data",{actionId:actionId,page:page,limit:5},function(respData) {
                    if(respData.code==200){
                        var lis = [];
                        for(var i = 0; i < respData.data.length; i++){
                            lis.push(li(respData.data[i],i+1));
                        }
                        if(respData.data.length<5){
                            next(lis.join(''), false);
                        }else{
                            next(lis.join(''), true);
                        }
                    }else{
                        layer.alert(respData.data,{icon:5});
                    }
                });
            }
        });
        //发布动态评论
        $("#publishActionComment").click(function () {
            var commentContent=layedit.getContent(actionContentTextAreaIndex);
            if(commentContent==null||commentContent==''||commentContent=='<p><br></p>'){
                layer.msg("请输入评论内容！",{icon:1});
                return false;
            }
            $.post("/action/comment/publish",{actionId:actionId,commentContent:commentContent},function (respData) {
                if(respData.code==200){
                    prependLi(respData.data);
                }else if(respData.code==444){
                    layer.msg(respData.data,{icon:5,time:2000},function () {
                        window.location.href="/login";
                    });
                }else{
                    layer.alert(respData.data,{icon:2});
                }
            });
        });
    });
    //向评论列表添加评论或者回复
    function prependLi(data) {
        $("#actionDetailCommentFlowUL").prepend(li(data,0));
    }
    function li(actionComment,floor) {
        //用户头像
        var userAvator=actionComment.avator?actionComment.avator:'/resources/portal/images/logo.jpg';
        var commentContent=actionComment.commentContent;
        var replyCommentContent='';
        //回复 评论
        if(actionComment.commentType=='reply'){
            commentContent="回复 "+actionComment.replyUserName+" : "+commentContent;
            replyCommentContent=actionComment.replyCommentContent;
        }
        var li='<li id="li-'+actionComment.commentId+'">' +
                '<div class="comment-image"><a href="/profile/'+actionComment.individuation+'/action"><img src="'+userAvator+'" width="40" height="40" style="border-radius: 50%"> </a></div>'+
                '<div class="comment-profile"><span><a href="/profile/'+actionComment.individuation+'/action">'+actionComment.userName+'</a></span><span>'+floor+'楼 '+actionComment.commentDate+'</span> </div> ' +
                '<div class="comment-reply"><a onclick="actioneCommentReplyButton(\''+actionComment.commentId+'\',\''+actionComment.userName+'\')" href="javascript:void(0)">回复</a></div>' +
                '<div class="comment-commentcontent"><span>'+commentContent+'</span></div> ' +
                '<div class="comment-replycontent"><span>'+replyCommentContent+'</span></div> ' +
                '</li>';
        return li;
    }
    function actioneCommentReplyButton(commentId,userName) {
        layer.open({
            type: 2,
            closeBtn:true,
            shadeClose:true,
            scrollbar:true,
            title: false,
            closeBtn: 1,
            area: ['650px', '420px'],
            skin: 'layui-layer-nobg',
            shadeClose: false,
            content:['/action/comment/comment_reply?commentId='+commentId+"&userName="+userName, 'no']
        });
    }
</script>
<script type="text/javascript" src="${request.getContextPath()}/resources/portal/js/action/action.js" charset="utf-8"></script>