<title>baby慕慕SNS个人博客管理系统-动弹详情</title>
<link rel="stylesheet" href="${request.getContextPath()}/plugins/layui/css/layui.css" media="all">
<link rel="stylesheet" href="${request.getContextPath()}/plugins/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="${request.getContextPath()}/resources/portal/css/action/detail.css" media="all">
#parse("/portal/header.vm")
<div class="layout-body">
    <div class="layout-left">
        <div class="layout-breadcrumb">
            <span class="layui-breadcrumb">
                <a href="/action" style="">我的动弹</a>
                <a href="javascript:void(0)">动弹详情</a>
            </span>
        </div>
        <div class="layout-content">
            <div class="li-image">
                <a href="/action/detail/1"><img src="https://static.oschina.net/uploads/user/1245/2491310_50.jpeg?t=1505841698000" width="40" height="40" style="border-radius: 50%"></a>
            </div>
            <div class="li-info">
                <span class="info-author"><a href="/action/detail/1">baby慕慕</a></span>
                <span class="info-content">家有小萝莉两枚，昨夜睡觉之前听到她们两在说要把袜子放床头，圣诞老人会来送礼物的…楼主半夜起来一看，还真的把袜子放床头了，悄悄往袜子里塞了些糖果，气球什么的…你们可以想象她们今早起来那股高兴劲么？小孩子真天真啊</span>
                #set($hasReprint='true')
                #if($hasReprint=='true')
                    <div class="info-reprint">
                        <span class="reprintinfo"><a href="/action/detail/1">@开源中国首席屌炸天</a></span>
                        <span class="reprintinfo">男理发师和男健身私教早就趋向牛郎化了。理发师温柔地聆听你所有牢骚<br><img src="http://img.blog.csdn.net/20140220173559828" width="260" height="200"> </span>
                        <span class="reprintinfo"><a href="/action/detail/1">查看原文</a></span>
                    </div>
                #end
                <span class="info-command">
                <span><a href="/action/detail/1">赞1</a> </span>
                <span><a href="/action/detail/1">转发2</a> </span>
                <span><a href="/action/detail/1">收藏3</a> </span>
                <span><a href="/action/detail/1">评论3</a> </span>
            </span>
            </div>
        </div>
        <div class="content-reply">
            <textarea id="actionContentTextArea" style="display: none;"></textarea>
            <div class="textarea-publish">
                #*<span>0/160</span>*#
                <span><button>评论</button></span>
            </div>
        </div>
        <div class="content-comments">
            <ul class="flow-default" id="actionDetailFlowUL"></ul>
        </div>
    </div>
    <div class="layout-right">
        <div class="category-hotaction layout-action">
            <h3>推荐动弹</h3>
            <ul>
                #set($hotactions= [0 .. 4])
                #foreach($hotaction in $hotactions)
                    <li>
                        <div class="li-image">
                            <a href="/action/detail/1"><img src="http://192.168.11.25/group1/M00/00/04/wKgLGVpDUe6AUfPXAAAz4dLJWpI435.png" width="60" height="60" style="border-radius: 50%"></a>
                        </div>
                        <div class="li-info">
                            <span class="info-author"><a href="/action/detail/1">林青OSC</a></span>
                            <span class="info-content">再来5只，这下子应该就差个大的了！</span>
                            <span class="info-command">
                                <span><a href="/action/detail/1">赞1</a> </span>
                                <span><a href="/action/detail/1">转发2</a> </span>
                                <span><a href="/action/detail/1">收藏3</a> </span>
                                <span><a href="/action/detail/1">评论3</a> </span>
                                <span><a href="/action/detail/1">详细信息</a></span>
                            </span>
                        </div>
                    </li>
                #end
            </ul>
        </div>
    </div>
</div>
#parse("/portal/footer.vm")
<script type="text/javascript" src="${request.getContextPath()}/plugins/layui/layui.js" charset="utf-8"></script>
<script type="text/javascript" src="${request.getContextPath()}/plugins/jquery/jquery-3.1.0.min.js" charset="utf-8"></script>
<script type="text/javascript">
    layui.use(['element','layedit','flow','layer'], function () {
        var element = layui.element ,layedit = layui.layedit,flow=layui.flow,layer=layui.layer;
        layedit.set({
            uploadImage: {url: '/common/upload/layedit', type: 'post'}
        });
        var actionContentTextAreaIndex=layedit.build('actionContentTextArea',{
            height:150
        });
        flow.load({
            elem: '#actionDetailFlowUL'
            ,isAuto:true
            ,isLazyimg:true
            ,done: function(page, next){
                var lis = [];
                for(var i = 0; i < 5; i++){
                    lis.push('<li id="li-1">' +
                            '<div class="comment-image"><a href="/profile/123/home"><img src="/resources/portal/images/logo.jpg" width="40" height="40" style="border-radius: 50%"> </a></div>'+
                            '<div class="comment-profile"><span><a href="/profile/234/home">babymm</a></span><span>1楼 2017-12-28</span> </div> ' +
                            '<div class="comment-reply"><a href="javascript:void(0)">回复</a></div>' +
                            '<div class="comment-commentcontent"><span>12345</span></div> ' +
                            '<div class="comment-replycontent"><span></span></div> ' +
                            '</li>');
                }
                next(lis.join(''), page < 3);
            }
        });
    });
</script>